<div style="min-width: 110px;">
    {{#if (eq item.system.grupp "")}}
        <img src="{{item.img}}" class="item img-block" />
    {{/if}}
    {{#if (eq item.system.grupp "armborst")}}
        <img src="{{EON.CONFIG.ikoner.foremal_armborst}}" class="item img-block" />
    {{/if}}
    {{#if (eq item.system.grupp "bage")}}
        <img src="{{EON.CONFIG.ikoner.foremal_bage}}" class="item img-block" />
    {{/if}}
    {{#if (eq item.system.grupp "kastvapen")}}
        <img src="{{EON.CONFIG.ikoner.foremal_kastvapen}}" class="item img-block" />
    {{/if}}
</div>

<div class="pullLeft" style="min-width: 270px;">
    <div class="item-property-area floating-label-group">
        <input class="text-value editable" type="text" name="name" value="{{item.name}}" data-dtype="String" autocomplete="off" autofocus required />
        <span class="floating-label">{{localize "eon.sheets.item.namn"}}</span>
    </div>
    
    <div class="item-property-area floating-label-group">
        <input class="attribute-value editable" name="system.langd" type="text" value="{{item.system.langd}}" data-dtype="Number" />
        <span class="floating-label">{{localize "eon.sheets.item.langdCm"}}</span>
    </div>

    <div class="item-property-area floating-label-group">
        <input class="attribute-value editable" name="system.vikt" type="text" value="{{item.system.vikt}}" data-dtype="Number" />
        <span class="floating-label">{{localize "eon.sheets.item.viktKg"}}</span>
    </div>

    <div class="item-property-area floating-label-group ">
        <input class="attribute-value editable" name="system.pris" type="text" value="{{item.system.pris}}" data-dtype="Number" />
        <span class="floating-label">{{localize "eon.sheets.item.prisSilver"}}</span>
    </div>

    {{#if this.showTraffa}} 
        <div class="item-row">
            <div class="headline-checkbox headline">{{localize "eon.sheets.actor.traffa"}}</div>
            <div class="dice-value   tic pointer" data-property="traffa">{{getDiceValue item.system.traffa}}</div>
        </div>
    {{/if}}
    
    <div class="item-property-area floating-label-group">
        <select class="text-value" name="system.rackvidd">
            <option value="">{{localize "eon.sheets.item.valjOption"}}</option>
            {{#select item.system.rackvidd}}
                {{#each EON.CONFIG.vapenavstand as |vapenavstand key|}}
                    <option value="{{key}}">{{localize vapenavstand.namn}}</option>
                {{/each}}
            {{/select}}
        </select>
        <span class="floating-label">{{localize "eon.sheets.actor.rackvidd"}}</span>
    </div>    

    <div class="item-property-area" style="display: flex; flex-direction: row;">

        <div class="item-property-area floating-label-group" style="margin-right: 10px;">
            <div class="dice-value tic pointer" data-property="skada" style="margin-left: 2px; height: var(--eon-line-height-floattext); padding-top: 6px;">{{getDiceValue item.system.skada}}</div>
            <span class="floating-label">{{localize "eon.sheets.actor.skada"}}</span>
        </div>

        <div class="dual-box item-property-area floating-label-group">
            <select class="text-value" name="system.skadetyp">
                <option value="">{{localize "eon.sheets.item.valjOption"}}</option>
                {{#select item.system.skadetyp}}
                    {{#each EON.CONFIG.vapenskador as |skadetyp key|}}
                        <option value="{{key}}">{{localize skadetyp}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <span class="floating-label">{{localize "eon.sheets.item.skadetyp"}}</span>
        </div>
    </div>                    

    <div class="item-property-area clear">
        <div class="pullLeft" style="width: 100px;">{{localize "eon.sheets.item.enHand"}}</div>
        <div class="pullLeft"><input class="item-active" name="system.enhand.aktiv" type="checkbox" data-property="enhand" {{isChecked item.system.enhand.aktiv}} data-dtype="String" /></div>
        <div class="pullLeft dice-value   tic pointer" data-property="enhand">{{getDiceValue item.system.enhand}}</div>
    </div>

    <div class="item-property-area clear">
        <div class="pullLeft" style="width: 100px;">{{localize "eon.sheets.item.tvaHand"}}</div>
        <div class="pullLeft"><input class="item-active" name="system.tvahand.aktiv" type="checkbox" data-property="tvahand" {{isChecked item.system.tvahand.aktiv}} data-dtype="String" /></div>
        <div class="pullLeft dice-value   tic pointer" data-property="tvahand">{{getDiceValue item.system.tvahand}}</div>
    </div>  
                                         
</div>   