<div style="min-width: 110px;">
    {{#if (eq item.system.grupp "")}}
        <img src="{{item.img}}" class="item img-block" />
    {{/if}}
    {{#if (eq item.system.grupp "slagsmal")}}
        <img src="{{EON.CONFIG.ikoner.foremal_hand}}" class="item img-block" />
    {{/if}}
    {{#if (eq item.system.grupp "dolk")}}
        <img src="{{EON.CONFIG.ikoner.foremal_dolk}}" class="item img-block" />
    {{/if}}
    {{#if (eq item.system.grupp "kedjevapen")}}
        <img src="{{EON.CONFIG.ikoner.foremal_kedjevapen}}" class="item img-block" />
    {{/if}}
    {{#if (eq item.system.grupp "klubba")}}
        <img src="{{EON.CONFIG.ikoner.foremal_klubba}}" class="item img-block" />
    {{/if}}
    {{#if (eq item.system.grupp "spjut")}}
        <img src="{{EON.CONFIG.ikoner.foremal_spjut}}" class="item img-block" />
    {{/if}}
    {{#if (eq item.system.grupp "stav")}}
        <img src="{{EON.CONFIG.ikoner.foremal_stav}}" class="item img-block" />
    {{/if}}
    {{#if (eq item.system.grupp "svard")}}
        <img src="{{EON.CONFIG.ikoner.foremal_svard}}" class="item img-block" />
    {{/if}}				
    {{#if (eq item.system.grupp "yxa")}}
        <img src="{{EON.CONFIG.ikoner.foremal_yxa}}" class="item img-block" />
    {{/if}}	
</div>

<div class="item-column" style="min-width: 270px;">
    <div class="item-property-area floating-label-group">
        <input class="text-value editable" type="text" name="name" value="{{item.name}}" data-dtype="String" autocomplete="off" autofocus required />
        <span class="floating-label">Namn</span>
    </div>       
    
    <div class="item-property-area floating-label-group">
        <select class="text-value" name="system.grupp">                                
            {{#select item.system.grupp}}
                <option value="">- Ingen färdighet -</option>
                {{#each EON.CONFIG.vapengrupper as |vapengrupp key|}}
                    {{#if (eq vapengrupp.grupp "narstridsvapen")}}
                        <option value="{{key}}">{{vapengrupp.namn}}</option>
                    {{/if}}
                {{/each}}
            {{/select}}
        </select>
        <span class="floating-label">Färdighet</span>
    </div>

    <!--
    <div class="item-property-area   floating-label-group">
        <select class="text-value inputdata" name="system.mall" data-source="weapon-close">
            <option value="">- Välj -</option>                                       
            {{#select item.system.mall}}    
                <option value="{{item._id}}">- Skräddarsytt -</option> 
                {{#each (getWeaponGroup EON.narstridsvapen item.system.grupp) as |vapen key|}}     
                    <option value="{{key}}">{{vapen.namn}}</option>               
                {{/each}}
            {{/select}}
        </select>
        <span class="floating-label">Vapenmall</span>
    </div>
    -->

    <div class="item-property-area floating-label-group">
        <input class="attribute-value editable" name="system.langd" type="text" value="{{item.system.langd}}" data-dtype="Number" />
        <span class="floating-label">Längd (cm)</span>
    </div>

    <div class="item-property-area floating-label-group">
        <input class="attribute-value editable" name="system.vikt" type="text" value="{{item.system.vikt}}" data-dtype="Number" />
        <span class="floating-label">Vikt (kg)</span>
    </div>

    <div class="item-property-area floating-label-group">
        <input class="attribute-value editable" name="system.pris" type="text" value="{{item.system.pris}}" data-dtype="Number" />
        <span class="floating-label">Pris (silver)</span>
    </div>

    {{#if this.showTraffa}}    
        <div class="item-row">
            <div class="headline-checkbox headline">Träffa</div>
            <div class="dice-value   tic pointer" data-property="traffa">{{getDiceValue item.system.traffa}}</div>
        </div>
    {{/if}}

    <div class="headline">Fattning</div>
    <div class="item-row">
        <div class="headline-checkbox">1H</div>
        <div><input class="item-active" name="system.enhand.aktiv" type="checkbox" data-property="enhand" {{isChecked item.system.enhand.aktiv}} data-dtype="Boolean" /></div>
        <div class="dice-value   tic pointer" data-property="enhand">{{getDiceValue item.system.enhand}}</div>
    </div>
    <div class="item-row">
        <div class="headline-checkbox">2H</div>
        <div><input class="item-active" name="system.tvahand.aktiv" type="checkbox" data-property="tvahand" {{isChecked item.system.tvahand.aktiv}} data-dtype="Boolean" /></div>
        <div class="dice-value   tic pointer" data-property="tvahand">{{getDiceValue item.system.tvahand}}</div>
    </div>
    <div class="information-area information-box">Kryssa i den handtyp vapnet kan användas i.</div>

    <div class="headline">Skada</div>
    <div class="item-row">
        <div class="headline-checkbox">Hugg</div>
        <div><input class="item-active" name="system.hugg.aktiv" type="checkbox" data-property="hugg" {{isChecked item.system.hugg.aktiv}} data-dtype="Boolean" /></div>
        <div class="dice-value tic pointer" data-property="hugg">{{getDiceValue item.system.hugg}}</div>
    </div>
    <div class="item-row">
        <div class="headline-checkbox">Kross</div>
        <div><input class="item-active" name="system.kross.aktiv" type="checkbox" data-property="kross" {{isChecked item.system.kross.aktiv}} data-dtype="Boolean" /></div>
        <div class="dice-value tic pointer" data-property="kross">{{getDiceValue item.system.kross}}</div>
    </div>
    <div class="item-row">
        <div class="headline-checkbox">Stick</div>
        <div><input class="item-active" name="system.stick.aktiv" type="checkbox" data-property="stick" {{isChecked item.system.stick.aktiv}} data-dtype="Boolean" /></div>
        <div class="dice-value tic pointer" data-property="stick">{{getDiceValue item.system.stick}}</div>
    </div>
    <div class="information-area information-box">Kryssa i de skadetyper som kan användas av vapnet.</div>
</div>