<div class="item-headline large-headline">Egenskaper</div>
<div class="item-section">
    <div class="property-area">        
        <div class="item-row headline">
            <div style="width: 100px;">Namn</div> 
            <div style="width: 50px;">Nivå</div>
        </div>        

        {{#each item.system.egenskaper as |egenskap key|}}    
            <div class="item-row">
                <div style="width: 100px;">{{egenskap.label}}</div>
                <div style="width: 50px;">
                    {{#if egenskap.harniva}}
                        <i class="fa-solid fa-square-plus green pointer" data-source="egenskaper" data-key="{{key}}" data-property="varde"></i>
                        {{egenskap.varde}}
                        <i class="fa-solid fa-square-minus red pointer" data-source="egenskaper" data-key="{{key}}" data-property="varde"></i>                        
                    {{else}}
                        &nbsp;
                    {{/if}}
                </div>
                <div class="pointer red item-delete" data-type="egenskaper" data-key="{{key}}"><i class="icon fa-solid fa-trash-can"></i></div>
            </div>  
        {{/each}}
    </div>
    
</div>
<div class="information-area information-box">För att lägga till en egenhet, dra den som skall användas från kompendiet (Vapenegenskaper) eller skapa en egen.</div>