<div style="min-width: 110px;">
    <img src="{{EON.CONFIG.ikoner.mysterie}}" class="item img-block" />
</div>

<div class="pullLeft" style="min-width: 270px;">
    <div class="item-property-area   floating-label-group">
        <input class="text-value editable" type="text" name="name" value="{{item.name}}" data-dtype="String" autocomplete="off" autofocus required />
        <span class="floating-label">Namn</span>
    </div>						

    <div class="item-property-area   floating-label-group">
        <input class="text-value editable" name="system.omfang" type="text" value="{{item.system.omfang}}" data-dtype="String" />
        <span class="floating-label">Omfang</span>
    </div>

    <div class="item-property-area   floating-label-group">
        <input class="text-value editable" name="system.rackvidd" type="text" value="{{item.system.rackvidd}}" data-dtype="String" />
        <span class="floating-label">Räckvidd</span>
    </div>

    <div class="item-property-area   floating-label-group">
        <input class="attribute-value editable" name="system.magnitud" type="text" value="{{item.system.magnitud}}" data-dtype="Number" />
        <span class="floating-label">Magnitud</span>
    </div>

    <div class="item-property-area   floating-label-group">
        <input class="text-value editable" name="system.varaktighet" type="text" value="{{item.system.varaktighet}}" data-dtype="String" />
        <span class="floating-label">Varaktighet</span>
    </div>

    <div class="item-property-area   floating-label-group">
        <input class="text-value editable" name="system.referens" type="text" value="{{item.system.referens}}" data-dtype="String" />
        <span class="floating-label">Referens</span>
    </div>
</div>	