{{#if (eq item.system.installningar.eon "eon4")}}

    <nav class="item-tabs tab-area headlineTabs" data-group="primary">    
        <a class="tabButton" data-tab="values">{{localize "eon.sheets.actor.varde"}}</a>
        <a class="tabButton tabboxleft" data-tab="property">{{localize "eon.sheets.item.ritualTab"}}</a>
        <a class="tabButton tabboxleft" data-tab="description">{{localize "eon.sheets.item.beskrivning"}}</a>
    </nav>

{{else if (eq item.system.installningar.eon "eon5")}}

    <nav class="item-tabs tab-area headlineTabs" data-group="primary">    
        <a class="tabButton" data-tab="values" style="width: 50%;">{{localize "eon.sheets.actor.varde"}}</a>
        <a class="tabButton tabboxleft" data-tab="description" style="width: 50%;">{{localize "eon.sheets.item.beskrivning"}}</a>
    </nav>

{{/if}}