<form class="{{cssClass}}" autocomplete="off">

    <div class="dialog-area centerText">
        <button class="mode {{#if object.isdistance}}active{{/if}}" data-type="initiative_distance">{{localize "eon.dialogs.avstand"}}</button>
        <button class="mode {{#if object.isclose}}active{{/if}}" data-type="initiative_close">{{localize "eon.dialogs.narstrid"}}</button>
        <button class="mode {{#if object.ismystic}}active{{/if}}" data-type="initiative_mystic">{{localize "eon.dialogs.mysik"}}</button>
        <button class="mode {{#if object.isother}}active{{/if}}" data-type="initiative_other">{{localize "eon.dialogs.ovrigt"}}</button>

        <button id="initiativeButton" class="pullLeft initiativebutton {{#if object.canroll}}show{{else}}hide{{/if}}">{{localize "eon.dialogs.slaReaktion"}}</button>

        <button id="closeButton" class="pullLeft closebutton">{{localize "eon.dialogs.stang"}}</button>
    </div>

</form>