<form class="{{cssClass}} {{object.dialogClass}}" autocomplete="off">

    {{#if (eq object.typ "bakgrund")}}

        <div class="dialog-section-small clear">

            <div class="floating-label-group">
                <input id="altvalue" type="text" value="{{object.varde}}" />
                <span class="floating-label">Namn</span>
            </div>       

            <div class="information-area information-box">Här anger du det Skräddarsydda namnet och trycker sedan på Spara.</div>

        </div>

        <div class="dice-row">
            <button id="savebutton" class="dialog-button four-column savebutton">Spara</button>
            <button id="closeButton" class="dialog-button four-column closebutton">Stäng</button>
        </div>       

    {{else}}

        <div class="item-row" style="margin-left:110px;">
            <div>
                <div class="dialog-section-small item-column">

                    <div class="large-main-headline">{{attribut.namn}}</div>
                    <!-- <div>
                        Ob{{getDiceValue attribut.grund}}
                    </div> -->
                    {{#if (eq object.typ "grundegenskaper")}}
                        <div>
                            <div class="dice-value tic pointer" data-property="grundegenskaper">{{getDiceValue attribut.grund}}</div>
                        </div>
                    {{else}}
                        <div>
                            <div class="dice-value disabled">{{getDiceValue attribut.grund}}</div>
                        </div>
                    {{/if}}
                </div>

                <div class="item-column">      

                    <div class="headline item-row" style="line-height: 25px; width:100%;">
                        <div class="pointer item-create weapon-icon" title="Lägg till bonus" data-type="bonus"><i class="fa-solid fa-square-plus green"></i></div>       
                        <div class="headline">Bonus</div>
                    </div>

                    {{#each attribut.bonuslista as |bonus key|}}
                        <div class="item-row">
                            <div>
                                <div class="floating-label-group">
                                    <input class="inputdata" type="text" value="{{bonus.namn}}" id="object.name_{{key}}" data-key="{{key}}" />
                                    <span class="floating-label">Namn</span>
                                </div>
                            </div>
                            <div class="dice-value tic pointer" data-key="{{key}}">{{getDiceValue bonus}}</div>
                            <div class="pointer red item-delete" title="Ta bort bonus" data-key="{{key}}"><i class="icon fa-solid fa-trash-can"></i></div>
                        </div>
                    {{/each}}                    

                </div>

                
            </div>
            
            <div style="flex-grow: 1; text-align: right;">
                <div class="information-area top-sidetext">{{#if (eq object.typ "grundegenskaper")}}GRUNDEGENSKAP{{else}}HÄRLETT ATTRIBUT{{/if}}</div>
            </div>
        </div>        

    {{/if}}
</form>