<form class="{{cssClass}}" autocomplete="off">

    <div class="item-top">
        <div class="item-section">
            <div class="dialog-section-small">
                <div class="large-main-headline centerText">{{object.vapennamn}}</div>
                <div class="centerText">
                    Ob{{getDiceValue object.visaGrundtarning}}                    
                </div>

                {{#if (eq object.isdamage false)}}
                    {{#if object.harSmarta}}
                        <div class="centerText">Smärta (-{{object.actor.system.berakning.svarighet.smarta}}T6)</div>
                    {{/if}}
                    {{#if (and object.visaSar (gt object.hamtaAntalSar 0))}}
                        <div class="centerText" style="line-height: 26px; height: 26px; display: flex; margin-left: 185px;">Sår (-{{object.hamtaAntalSar}}T6) <input class="item-property pointer eventbutton" {{isChecked object.harSar}} type="checkbox" data-dtype="Boolean" data-source="set" data-value="harSar" /></div>
                    {{/if}}
                {{/if}}

                {{#if object.isattack}}
                    <div class="attack-info centerText" style="margin-top: 10px;">
                        {{#if (eq object.attacktype 'tungt')}}
                            <div>Utmattning +2</div>
                            <div>Skada +2T6</div>
                            <div>Färdighetstärningar -1T6</div>
                        {{else if (eq object.attacktype 'snabbt')}}
                            <div>Utmattning +1</div>
                            <div>Skada -1T6</div>
                            <div>Färdighetstärningar +1T6</div>
                        {{else if (eq object.attacktype 'grupp')}}
                            <div>Utmattning +1</div>
                            <div>Färdighetstärningar -1T6</div>
                        {{/if}}
                    </div>
                {{/if}}

                {{#if object.isdefence}}
                    <div class="attack-info centerText" style="margin-top: 10px;">
                        {{#if (eq object.attacktype 'defensivt')}}
                            <div>Utmattning +1</div>
                            <div>Färdighetstärningar +1T6</div>
                            <div>Lyckas med minst 2 Övertag för att bli anfallare</div>
                        {{else if (eq object.attacktype 'kontring')}}
                            <div>Utmattning +1</div>
                            <div>Färdighetstärningar -1T6</div>
                            <div>Blir alltid anfallare, oavsett utfall</div>
                        {{else if (eq object.attacktype 'normal')}}
                            <div>Lyckas försvara för att bli anfallare</div>
                        {{/if}}
                    </div>
                {{/if}}
            </div>

            <div class="dialog-area centerText">
                <div class="clear">
                    <button class="three-button pullLeft mode {{#if object.isattack}}active{{/if}}" data-type="attack">Anfall</button>
                    <button class="three-button pullLeft mode {{#if object.isdamage}}active{{/if}}" data-type="damage">Skada</button>
                    {{#unless object.vapen.isRangedWeapon}}
                        <button class="three-button pullLeft mode {{#if object.isdefence}}active{{/if}}" data-type="defence">Försvar</button>
                    {{/unless}}
                </div>

                <div id="attack_area" class="clear" style="height: 40px;">
                    {{#if object.isdamage}}
                        {{#if object.vapen.system.hugg.aktiv}}
                            <button class="attacktype three-button pullLeft {{#if object.usehugg}}active{{/if}}" data-type="hugg">Hugg</button>
                        {{/if}}
                        {{#if object.vapen.system.kross.aktiv}}
                            <button class="attacktype three-button pullLeft {{#if object.usekross}}active{{/if}}" data-type="kross">Kross</button>
                        {{/if}}
                        {{#if object.vapen.system.stick.aktiv}}
                            <button class="attacktype three-button pullLeft {{#if object.usestick}}active{{/if}}" data-type="stick">Stick</button>
                        {{/if}}
                    {{else}}  
                        {{#if object.isattack}}
                            {{#unless object.vapen.isRangedWeapon}}
                                <button class="attacktype three-button pullLeft {{#if (or (not object.attacktype) (eq object.attacktype 'normal'))}}active{{/if}}" 
                                        data-type="normal" 
                                        title="standard">Standard</button>
                                <button class="attacktype three-button pullLeft {{#if (eq object.attacktype 'tungt')}}active{{/if}}" 
                                        data-type="tungt" 
                                        title="Utmattning +2&#10;Skada +2T6&#10;Färdighetstärningar -1T6">Kraftfult</button>
                                <button class="attacktype three-button pullLeft {{#if (eq object.attacktype 'snabbt')}}active{{/if}}" 
                                        data-type="snabbt" 
                                        title="Utmattning +1&#10;Skada -1T6&#10;Färdighetstärningar +1T6">Snabbt</button>
                                <button class="attacktype three-button pullLeft {{#if (eq object.attacktype 'grupp')}}active{{/if}}" 
                                        data-type="grupp" 
                                        title="Utmattning +1&#10;Färdighetstärningar -1T6">Gruppanfall</button>
                            {{/unless}}
                        {{/if}}
                        {{#if object.isdefence}}
                            <button class="attacktype three-button pullLeft {{#if (or (not object.attacktype) (eq object.attacktype 'normal'))}}active{{/if}}" 
                                    data-type="normal" 
                                    title="Utmattning +0&#10;Färdighetstärningar +0">Standard</button>
                            <button class="attacktype three-button pullLeft {{#if (eq object.attacktype 'defensivt')}}active{{/if}}" 
                                    data-type="defensivt" 
                                    title="Utmattning +1&#10;Färdighetstärningar +1T6">Defensivt</button>
                            <button class="attacktype three-button pullLeft {{#if (eq object.attacktype 'kontring')}}active{{/if}}" 
                                    data-type="kontring" 
                                    title="Utmattning +1&#10;Färdighetstärningar -1T6">Kontring</button>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>

        <div class="item-section">
            <div class="dialog-section">

                <div>
                    <div class="clear centerText">
                        <div class="pullLeft two-column headline">Bonus</div>
                        <div class="pullLeft two-column headline">Avdrag</div>
                    </div>            
                    <div class="dice-row">
                        <button class="four-column dialog-event-button eventbutton" data-source="bonus" data-action="add" data-value="1T6">+ ob1T6</button>
                        <button class="four-column dialog-event-button eventbutton" data-source="bonus" data-action="add" data-value="1">+1</button>
                        <button class="four-column dialog-event-button eventbutton" data-source="bonus" data-action="remove" data-value="1T6">- ob1T6</button>
                        <button class="four-column dialog-event-button eventbutton" data-source="bonus" data-action="remove" data-value="1">-1</button>
                    </div>
                </div>
                <div class="centerText">Totalt: 
                    {{#if (lt object.visaTarning.bonus 0)}}
                        Ob{{object.visaTarning.tvarde}}T6{{object.visaTarning.bonus}}

                    {{else if (gt object.visaTarning.bonus 0)}}
                        Ob{{object.visaTarning.tvarde}}T6+{{object.visaTarning.bonus}}
                    {{else}}
                        Ob{{object.visaTarning.tvarde}}T6
                    {{/if}}                    
                </div>
            </div>
        </div>
    </div>

    {{#if (eq object.isdamage false)}}

        <div class="item-body">

            <div class="item-section">            
                <div class="item-column dialog-section-small">

                    <div style="margin-left: 205px;">
                        <div class="floating-label-group">
                            <input id="difficulty" class="attribute-value skill-label" type="text" value="{{object.svarighet}}" disabled readonly />
                            <span class="floating-label">Svårdighet</span>
                        </div>
                    </div>

                    <div class="dice-row">
                        {{#numFromLoop 1 9}}
                            <button class="dialog-event-button eventbutton" title="{{this}}"style="width: 7%;" data-source="difficulty" data-value="{{this}}"><span>{{this}}</span></button>
                        {{/numFromLoop}}
                        <button class="dialog-event-button eventbutton" title="0"style="width: 7%;" data-source="difficulty" data-value="0"><span>0</span></button>
                        <button class="dialog-event-button eventbutton" title="Rensa" style="width: 7%;" data-source="difficulty" data-value="clear"><span>...</span></button>
                    </div>

                </div>
            </div>
        </div>
    {{/if}}

    <div>
        <div class="dice-row">
            <button id="actionbutton" class="dialog-button four-column actionbutton">Rulla</button>
            <button id="closeButton" class="dialog-button four-column closebutton">Stäng</button>
        </div>        
    </div>

</form>