<form class="{{cssClass}}" autocomplete="off">

    <div class="dialog-area centerText">
        <div class="clear">
            <button class="three-button pullLeft mode {{#if object.isattack}}active{{/if}}" data-type="attack">Anfall</button>
            <button class="three-button pullLeft mode {{#if object.isdamage}}active{{/if}}" data-type="damage">Skada</button>
            <button class="three-button pullLeft mode {{#if object.isdefense}}active{{/if}}" data-type="defense">Försvar</button>
        </div>

        <div id="attack_area" class="clear {{#if object.isdamage}}show{{else}}hide{{/if}}">
            {{#if object.vapen.system.hugg.aktiv}}
                <button class="attacktype three-button pullLeft mode {{#if object.usehugg}}active{{/if}}" data-type="hugg">Hugg</button>
            {{/if}}
            {{#if object.vapen.system.kross.aktiv}}
                <button class="attacktype three-button pullLeft mode {{#if object.usekross}}active{{/if}}" data-type="kross">Kross</button>
            {{/if}}
            {{#if object.vapen.system.stick.aktiv}}
                <button class="attacktype three-button pullLeft mode {{#if object.usestick}}active{{/if}}" data-type="stick">Stick</button>
            {{/if}}
        </div>

        <div class="clear">
            <button id="actionButton {{#if object.canroll}}show{{else}}hide{{/if}}" class="two-button pullLeft actionbutton">Rulla</button>
            <button id="closeButton" class="two-button pullLeft closebutton">Stäng</button>
        </div>
    </div>

</form>