<form class="{{cssClass}} flexcol {{#if locked}}locked{{/if}}" autocomplete="off">

    <div class="sheet-character">

        <header class="sheet-header">

            <div class="sheet-top clear">
                {{> "systems/eon-rpg/templates/actors/parts/varelse-sheet-top.html"}}                
            </div>
            
        </header>

        <section class="sheet-body">         
            <div class="clear">
                <div class="two-column pullLeft">
                    {{> "systems/eon-rpg/templates/actors/parts/varelse-sheet-skill.html"}}
                </div>
                <div class="two-column pullLeft">
                    {{> "systems/eon-rpg/templates/actors/parts/varelse-sheet-property.html"}}
                </div>
            </div>   

            {{> "systems/eon-rpg/templates/actors/parts/varelse-sheet-weapon.html"}}

            {{> "systems/eon-rpg/templates/actors/parts/varelse-sheet-health.html"}}
        </section>

    </div>

</form>