{{#if (eq data.type "general")}}
    <div class="tray-title-area">{{data.action}}</div>
    <div class="tray-action-area">
        {{data.title}}
    </div>

    {{#if (ne data.description "")}}
        <div class="tray-action-area">
            {{{data.description}}}
        </div>
    {{/if}}

    {{#if (ne data.info "")}}
        <div class="tray-action-area">
            {{{data.info}}}
        </div>
    {{/if}}
    
    {{#if (gt data.difficulty 0)}}
        <div class="tray-action-area">
            Svårighet: {{data.difficulty}}<br />  
            {{data.resulttext}}            
        </div>
    {{/if}}

    {{log data}}

    {{#if (eq data.dicetype "d6")}}

        <div class="tray-roll-area">
            {{#each data.diceresult as |dice key|}}
                {{#if (eq dice 1)}}<i class="fa-solid fa-dice-one tray-dice {{../data.dicecolor}}"></i>{{/if}}
                {{#if (eq dice 2)}}<i class="fa-solid fa-dice-two tray-dice {{../data.dicecolor}}"></i>{{/if}}
                {{#if (eq dice 3)}}<i class="fa-solid fa-dice-three tray-dice {{../data.dicecolor}}"></i>{{/if}}
                {{#if (eq dice 4)}}<i class="fa-solid fa-dice-four tray-dice {{../data.dicecolor}}"></i>{{/if}}
                {{#if (eq dice 5)}}<i class="fa-solid fa-dice-five tray-dice {{../data.dicecolor}}"></i>{{/if}}
                {{#if (and (eq ../data.obroll false) (eq dice 6))}}<i class="fa-solid fa-dice-six tray-dice tray-dice-max {{../data.dicecolor}}"></i>{{/if}}
                {{#if (and (eq ../data.obroll true) (eq dice 6))}}<i class="fa-solid fa-dice-six tray-dice tray-dice-max ob-roll {{../data.dicecolor}}"></i>{{/if}}
            {{/each}}
        </div>

    {{/if}}

    <div class="tray-result-area">
        Totalt: {{data.result}}
    </div>
{{/if}}

{{#if (eqAny data.type data.config.slag.grundegenskap data.config.slag.fardighet)}}
    <div class="tray-title-area">{{data.action}}</div>

    {{#if (ne data.description "")}}
        <div class="tray-action-area">
            {{{data.description}}}
        </div>
    {{/if}}
    
    {{#if (ne data.info "")}}
        <div class="tray-action-area">
            {{{data.info}}}
        </div>
    {{/if}}
    
    <div class="tray-action-area">{{data.title}}</div>

    {{#if (gt data.difficulty 0)}}
        <div class="tray-action-area">
            Svårighet: {{data.difficulty}}<br />  
            {{data.resulttext}}            
        </div>
    {{/if}}

    <div class="tray-roll-area">
        {{#each data.diceresult as |dice key|}}
            {{#if (eq dice 1)}}<i class="fa-solid fa-dice-one tray-dice {{../data.dicecolor}}"></i>{{/if}}
            {{#if (eq dice 2)}}<i class="fa-solid fa-dice-two tray-dice {{../data.dicecolor}}"></i>{{/if}}
            {{#if (eq dice 3)}}<i class="fa-solid fa-dice-three tray-dice {{../data.dicecolor}}"></i>{{/if}}
            {{#if (eq dice 4)}}<i class="fa-solid fa-dice-four tray-dice {{../data.dicecolor}}"></i>{{/if}}
            {{#if (eq dice 5)}}<i class="fa-solid fa-dice-five tray-dice {{../data.dicecolor}}"></i>{{/if}}
            {{#if (and (eq ../data.obroll false) (eq dice 6))}}<i class="fa-solid fa-dice-six tray-dice tray-dice-max {{../data.dicecolor}}"></i>{{/if}}
            {{#if (and (eq ../data.obroll true) (eq dice 6))}}<i class="exploding fa-solid fa-dice-six tray-dice tray-dice-max ob-roll {{../data.dicecolor}}"></i>{{/if}}
        {{/each}}
    </div>

    <div class="tray-result-area">
        Totalt: {{data.result}}
    </div>
{{/if}}

{{#if (eq data.type data.config.slag.vapen)}}
    <div class="tray-title-area">{{data.action}}</div>

    {{#if (ne data.description "")}}
        <div class="tray-action-area">
            {{{data.description}}}
        </div>
    {{/if}} 

    {{#if (ne data.info "")}}
        <div class="tray-action-area">
            {{{data.info}}}
        </div>
    {{/if}}   
    
    <div class="tray-action-area">{{data.title}}</div>    
    {{#if (gt data.difficulty 0)}}
        <div class="tray-action-area">
            Svårighet: {{data.difficulty}}<br />  
            {{data.resulttext}}            
        </div>
    {{/if}}

    <div class="tray-roll-area">
        {{#each data.diceresult as |dice key|}}
            {{#if (eq dice 1)}}<i class="fa-solid fa-dice-one tray-dice {{../data.dicecolor}}"></i>{{/if}}
            {{#if (eq dice 2)}}<i class="fa-solid fa-dice-two tray-dice {{../data.dicecolor}}"></i>{{/if}}
            {{#if (eq dice 3)}}<i class="fa-solid fa-dice-three tray-dice {{../data.dicecolor}}"></i>{{/if}}
            {{#if (eq dice 4)}}<i class="fa-solid fa-dice-four tray-dice {{../data.dicecolor}}"></i>{{/if}}
            {{#if (eq dice 5)}}<i class="fa-solid fa-dice-five tray-dice {{../data.dicecolor}}"></i>{{/if}}
            {{#if (and (eq ../data.obroll false) (eq dice 6))}}<i class="fa-solid fa-dice-six tray-dice tray-dice-max {{../data.dicecolor}}"></i>{{/if}}
            {{#if (and (eq ../data.obroll true) (eq dice 6))}}<i class="fa-solid fa-dice-six tray-dice tray-dice-max ob-roll {{../data.dicecolor}}"></i>{{/if}}
        {{/each}}
    </div>

    <div class="tray-result-area">
        Totalt: {{data.result}}
    </div>
{{/if}}

{{#if (eq data.type "message")}}
    <div class="tray-title-area">Beskrivning</div>

    <div class="tray-action-area">{{data.title}}</div>

    {{#if (ne data.description "")}}
        <div class="tray-action-area">
            {{{data.description}}}
        </div>
    {{/if}} 
{{/if}}
