<form class="{{cssClass}}" autocomplete="off">

	<div class="sheet-item">
		<header class="sheet-header item-top">

            <div style="display: flex;">
                <div style="min-width: 110px;">
                    {{#if (eq item.system.grupp "")}}
                        <img src="{{item.img}}" class="item img-block" />
                    {{/if}}
                    {{#if (eq item.system.grupp "armborst")}}
                        <img src="{{EON.CONFIG.ikoner.foremal_armborst}}" class="item img-block" />
                    {{/if}}
                    {{#if (eq item.system.grupp "bage")}}
                        <img src="{{EON.CONFIG.ikoner.foremal_bage}}" class="item img-block" />
                    {{/if}}
                    {{#if (eq item.system.grupp "kastvapen")}}
                        <img src="{{EON.CONFIG.ikoner.foremal_kastvapen}}" class="item img-block" />
                    {{/if}}
                </div>

                <div class="pullLeft" style="min-width: 350px;">
                    <div class="number-value-text floating-label-group">
                        <input class="text-value editable" type="text" name="name" value="{{item.name}}" data-dtype="String" autocomplete="off" autofocus required />
                        <span class="floating-label">Namn</span>
                    </div>

                    <div class="number-value-text floating-label-group">
                        <select name="system.grupp">
                            <option value="">- Välj -</option>
                            {{#select item.system.grupp}}
                                {{#each EON.CONFIG.vapengrupper as |vapengrupp key|}}
                                    {{#if (eq vapengrupp.grupp "avstandsvapen")}}
                                        <option value="{{key}}">{{vapengrupp.namn}}</option>
                                    {{/if}}
                                {{/each}}
                            {{/select}}
                        </select>
                        <span class="floating-label">Färdighet</span>
                    </div>

                    <div class="number-value-text floating-label-group">
                        <select class="inputdata" name="system.mall" data-source="weapon-range">
                            <option value="">- Välj -</option>                                       
                            {{#select item.system.mall}}    
                                <option value="{{item._id}}">- Skräddarsytt -</option> 
                                {{#each (getWeaponGroup EON.avstandsvapen item.system.grupp) as |vapen key|}}     
                                    <option value="{{key}}">{{vapen.namn}}</option>               
                                {{/each}}
                            {{/select}}
                        </select>
                        <span class="floating-label">Vapenmall</span>
                    </div>    
                    
                    <div class="number-value-text floating-label-group">
                        <input class="attribute-value editable" name="system.langd" type="text" value="{{data.system.langd}}" data-dtype="Number" />
                        <span class="floating-label">Längd (cm)</span>
                    </div>

                    <div class="number-value-text floating-label-group">
                        <input class="attribute-value editable" name="system.vikt" type="text" value="{{data.system.vikt}}" data-dtype="Number" />
                        <span class="floating-label">Vikt (kg)</span>
                    </div>

                    <div class="number-value-text floating-label-group ">
                        <input class="attribute-value editable" name="system.pris" type="text" value="{{data.system.pris}}" data-dtype="Number" />
                        <span class="floating-label">Pris (silver)</span>
                    </div>

                    <div class="number-value-text floating-label-group">
                        <select name="system.rackvidd">
                            <option value="">- Välj -</option>
                            {{#select item.system.rackvidd}}
                                {{#each EON.CONFIG.vapenavstand as |vapenavstand key|}}
                                    <option value="{{key}}">{{vapenavstand.namn}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                        <span class="floating-label">Räckvidd</span>
                    </div>

                    <div class="number-value-text floating-label-group">
                        <select name="system.skadetyp">
                            <option value="">- Välj -</option>
                            {{#select item.system.skadetyp}}
                                {{#each EON.CONFIG.vapenskador as |skadetyp key|}}
                                    <option value="{{key}}">{{skadetyp}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                        <span class="floating-label">Skadetyp</span>
                    </div>

                    <div class="clear">
                        <div class="pullLeft item-headline">1H</div>
                        <div class="pullLeft"><input class="item-active" name="system.enhand.aktiv" type="checkbox" data-property="enhand" {{isChecked data.system.enhand.aktiv}} data-dtype="String" /></div>
                        <div class="pullLeft dice-value number-value-text tic pointer" data-property="enhand">{{getDiceValue item.system.enhand}}</div>
                    </div>
                    <div class="clear">
                        <div class="pullLeft item-headline">2H</div>
                        <div class="pullLeft"><input class="item-active" name="system.tvahand.aktiv" type="checkbox" data-property="tvahand" {{isChecked data.system.tvahand.aktiv}} data-dtype="String" /></div>
                        <div class="pullLeft dice-value number-value-text tic pointer" data-property="tvahand">{{getDiceValue item.system.tvahand}}</div>
                    </div>                    

                    <div class="clear">
                        <div class="pullLeft item-headline">Skada</div>
                        <div class="pullLeft dice-value number-value-text tic pointer" data-property="skada">{{getDiceValue item.system.skada}}</div>
                    </div>                                       
                </div>                

                {{#if hasActor}}
                    <div class="pullRight pointer red item-delete" data-itemid="{{item._id}}"><i class="icon fa-solid fa-trash-can"></i></div>
                {{/if}}
            </div>
			
		</header>
		
		<section class="item-body">   
            
            <div class="item-headline large-headline">Egenskaper</div>
            <div class="property-area">                
                {{#each EON.egenskaper as |egenhet key|}}                        
                    <div class="clear">
                        <div class="pullLeft item-headline">{{egenhet.namn}}</div>
                        <div class="pullLeft number-value-text">
                            <div class="pullLeft">
                                <input class="weapon-property" type="checkbox" {{#if (checkProperty ../item.system.egenskaper key)}} checked {{/if}} value="{{key}}" />
                            </div>
                            <div class="pullLeft" style="width: 50px;">
                                {{#if (checkProperty ../item.system.egenskaper key)}}
                                    {{#if egenhet.harniva}}
                                        <input class="inputdata" style="width: 50px;" type="text" value="{{getPropertyLevel ../item.system.egenskaper key}}" data-source="weapon-property" data-dtype="Number" />
                                    {{else}}
                                        &nbsp;
                                    {{/if}}
                                {{else}}
                                    &nbsp;
                                {{/if}}
                            </div>                            
                        </div>
                    </div>
                {{/each}}
            </div>
            
            <div>
                <div class="large-headline">Beskrivning</div>
                <div class="editor-box">
                    {{editor data.system.beskrivning target="system.beskrivning" button=true owner=owner editable=true}}
                </div>
            </div>

            

		</section>

	</div>
</form>