<form class="{{cssClass}}" autocomplete="off">

	<div class="sheet-item">

		<header class="sheet-header item-top">

            <div class="item-row" style="width: 580px;">
                <div class="item-column">
                    <div class="tab" data-group="primary" data-tab="values">
                        <div class="item-row">
                            {{> "systems/eon-rpg/templates/items/parts/items-spell-data.html"}}
                        </div>
                    </div>
                    <div class="tab" data-group="primary" data-tab="property">
                        {{> "systems/eon-rpg/templates/items/parts/items-spell-ritual.html"}}
                    </div>
                    <div class="tab" data-group="primary" data-tab="description">
                        {{> "systems/eon-rpg/templates/items/parts/items-description.html"}}
                    </div>
                </div>

                <div class="pullLeft" style="flex-grow: 1; text-align: right;">
                    {{#if hasActor}}
                        <div class="pointer red item-delete large-icon" data-itemid="{{item._id}}"><i class="icon fa-solid fa-trash-can"></i></div>
                    {{/if}}     
                    
                    <div class="information-area top-sidetext">BESVÄRJELSE</div>
                </div>
            </div>

		</header>
		
		<section class="item-body" style="position: absolute; bottom: 0; width: 100%; margin-bottom: 5px;">
            
            <div>
                {{> "systems/eon-rpg/templates/items/parts/navigation-spell.html"}}
            </div>

		</section>

	</div>
</form>