<form class="{{cssClass}}" autocomplete="off">

	<div class="sheet-item effect-item-sheet">
		<header class="sheet-header item-top">

            <div style="display: flex;">
                <div class="pullLeft">
                    <img src="{{EON.CONFIG.ikoner.fardighet}}" class="item img-block" />
                
                    {{#unless (isEon5Item item)}}
                        <div>{{localize "eon.sheets.item.eon4Kort"}}</div>
                    {{else}}
                        <div>{{localize "eon.sheets.item.eon5Kort"}}</div>
                    {{/unless}}
                </div>

                <div class="item-area pullLeft">
                    <div class="item-top">
                        <div class="item-property-area floating-label-group">
                            <input class="text-value editable" type="text" name="name" value="{{item.name}}" data-dtype="String" autocomplete="off" autofocus required />
                            <span class="floating-label">{{localize "eon.sheets.item.namn"}}</span>
                        </div>

                        <div class="item-property-area floating-label-group">
                            <input class="text-value editable" type="text" name="system.id" value="{{item.system.id}}" data-dtype="String" autocomplete="off" autofocus required />
                            <span class="floating-label">ID</span>
                        </div>

                        <div class="item-property-area floating-label-group">
                            <input class="text-value editable" type="text" name="system.referens" value="{{item.system.referens}}" data-dtype="String" autocomplete="off" autofocus required />
                            <span class="floating-label">{{localize "eon.sheets.item.referens"}}</span>
                        </div>

                    </div>    

                    <div class="item-row">
                        <div class="headline-checkbox">{{localize "eon.sheets.item.folkslagsegenskap"}}</div>
                        <div><input class="modifiera-checkbox pointer" type="checkbox" data-type="installningar" data-key="folkslag" {{isChecked item.system.installningar.folkslag}} data-dtype="Boolean" /></div>
                    </div>
                    
                    <div class="item-row">
                        <div class="headline-checkbox">{{localize "eon.sheets.item.vapenegenskap"}}</div>
                        <div><input class="modifiera-checkbox pointer" type="checkbox" data-type="installningar" data-key="vapen" {{isChecked item.system.installningar.vapen}} data-dtype="Boolean" /></div>
                    </div>

                    {{#if (eq item.system.installningar.vapen true)}}                        
        
                        <div class="item-row">
                            <div class="headline-checkbox">{{localize "eon.sheets.item.harNiva"}}</div>
                            <div><input class="modifiera-checkbox pointer" type="checkbox" data-type="installningar" data-key="harniva" {{isChecked item.system.installningar.harniva}} data-dtype="Boolean" /></div>
                        </div>
                    
                        {{#if (eq item.system.installningar.harniva true)}}
                            <div class="item-property-area floating-label-group">
                                <input class="text-value editable" type="text" name="system.system.niva" value="{{item.system.niva}}" data-dtype="Number" autocomplete="off" autofocus required />
                                <span class="floating-label">{{localize "eon.sheets.actor.niva"}}</span>
                            </div>
                        {{/if}}

                    {{/if}}
                </div>	

                <div class="pullLeft" style="flex-grow: 1; text-align: right;">
					{{#if hasActor}}
						{{#if item.system.installningar.kantabort}}
							<div class="pointer red item-delete large-icon" data-itemid="{{item._id}}"><i class="icon fa-solid fa-trash-can"></i></div>
						{{/if}}
					{{/if}}
                    
					<div class="information-area top-sidetext">{{localize "eon.sheets.item.egenskap"}}</div>
				</div>
            </div>	

            {{#if hasEffects}}
                <div class="tab effect-sheet-body" data-group="primary" data-tab="values">
                    {{> "systems/eon-rpg/templates/items/parts/items-effects.html"}}
                </div>
                <div class="tab effect-sheet-body" data-group="primary" data-tab="description">
                    {{> "systems/eon-rpg/templates/items/parts/items-description.html"}}
                </div>
            {{else}}
                <div class="effect-sheet-body">
                    {{> "systems/eon-rpg/templates/items/parts/items-description.html"}}
                </div>
            {{/if}}

		</header>

		{{#if hasEffects}}
			<section class="item-body effect-item-footer">
				<div>
					{{> "systems/eon-rpg/templates/items/parts/navigation-effect.html"}}
				</div>
			</section>
		{{/if}}
	</div>
</form>
