<form class="{{cssClass}}" autocomplete="off">

	<div class="sheet-item">
		<header class="sheet-header item-top">	
            <div style="display: flex;">
                <div style="min-width: 110px;">
					<img src="{{item.img}}" class="item img-block" />
				</div>

				<div class="pullLeft" style="min-width: 270px;">
					<div class="item-top">
						<div class="item-property-area number-value-text floating-label-group">
							<input class="text-value editable" type="text" name="name" value="{{item.name}}" data-dtype="String" autocomplete="off" autofocus required />
							<span class="floating-label">Namn</span>
						</div>
					</div>    
				</div>

				<div class="pullLeft" style="flex-grow: 1; text-align: right;">
                    <div class="information-area top-sidetext">FOLKSLAG</div>
                </div>
			</div>	
		</header>
		
		<section class="item-body">

            <div class="headline">
                <div class="attribute-area">Grundattribut</div>
            </div>

            {{#each EON.CONFIG.grundegenskaper as |attribute key|}}            
                <div class="attribute clear">
                    <div class="vrollable pullLeft caption">{{attribute.namn}}</div>
                    <div class="pullLeft dice-value tic pointer" data-property="grundegenskaper.{{key}}.grund">{{getDiceValue (getActorAttribute ../item "grundegenskaper" key)}}</div>
                </div>
            {{/each}}

			<div>
				<div class="large-headline">Beskrivning</div>
				<div class="small-editor-box">
					{{editor data.system.beskrivning target="system.beskrivning" button=true owner=owner editable=true}}
				</div>
			</div>
		</section>

	</div>
</form>