<form class="{{cssClass}}" autocomplete="off">

	<div class="sheet-item">
		<header class="sheet-header item-top">	

			<div class="item-row">
                <div style="min-width: 110px;">
					<img src="{{EON.CONFIG.ikoner.fardighet}}" class="item img-block" />
				</div>

				<div class="item-column" style="min-width: 270px;">
					<div class="item-property-area number-value-text floating-label-group">
						{{#if item.system.aspekt}}
							<select class="text-value inputdata" name="system.id" data-source="aspekt">
								<option value="">- Välj -</option>
								{{selectOptions EON.CONFIG.aspekter selected=item.system.id}}
							</select>
						{{else}}
							<input class="text-value editable" type="text" name="name" value="{{item.name}}" data-dtype="String" autocomplete="off" autofocus required />
						{{/if}}
						<span class="floating-label">Namn</span>
					</div>	

					{{#if this.isPC}}

						<div class="item-property-area number-value-text floating-label-group">
							<select class="text-value" name="system.attribut">
								<option value="">- Välj -</option>
								<option value="">- Inget attribut -</option>
								{{selectOptions EON.CONFIG.grundegenskaper selected=item.system.attribut labelAttr="namn"}}
							</select>
							<span class="floating-label">Attribut</span>
						</div>	

					{{/if}}
					
					<div class="item-property-area number-value-text floating-label-group">
						<input class="text-value editable" name="system.referens" type="text" value="{{item.system.referens}}" data-dtype="String" />
						<span class="floating-label">Referens</span>
					</div>

					<div class="item-row" title="För att höja/sänka sitt färdighetsvärde höger-eller vänsterklickar på rutan">
						<div class="headline-checkbox">Färdighetsvärde</div>
						<div class="dice-value tic pointer" data-property="varde">{{getDiceValue item.system.varde}}</div>
					</div>

					<div class="information-area information-box">För att höja/sänka sitt färdighetsvärde höger-eller vänsterklickar på rutan.</div>

					{{#if this.isPC}}
						{{#unless (eq item.system.grupp "ovriga")}}
							<div class="item-row">
								<div class="headline-checkbox">Lättlärd</div>
								<div><input class="svarighet pointer" type="checkbox" data-value="L" {{isChecked item.system.installningar.lattlard}} data-dtype="String" /></div>
							</div>
				
							<div class="item-row">
								<div class="headline-checkbox">Svårlärd</div>
								<div><input class="svarighet pointer" type="checkbox" data-value="S" {{isChecked item.system.installningar.svarlard}} data-dtype="String" /></div>
							</div> 
						{{/unless}}
					{{/if}}

					{{#if (eq item.system.grupp "mystik")}}
						<div class="item-row">
							<div class="headline-checkbox">Aspekt</div>
							<div><input class="item-property pointer" type="checkbox" {{isChecked item.system.aspekt}} data-dtype="Boolean" data-field="aspekt" /></div>
						</div>
					{{/if}}
					
					{{#if (eq item.system.grupp "ovriga")}}
						<div class="item-row">
							<div class="headline-checkbox">Hantverk</div>
							<div><input class="item-property pointer" type="checkbox" {{isChecked item.system.hantverk}} data-dtype="Boolean" data-field="hantverk" /></div>
						</div>
						<div class="item-row">
							<div class="headline-checkbox">Expertis</div>
							<div><input class="item-property pointer" type="checkbox" {{isChecked item.system.expertis}} data-dtype="Boolean" data-field="expertis" /></div>
						</div>  
						<div class="item-row">
							<div class="headline-checkbox">Kännetecken</div>
							<div><input class="item-property pointer" type="checkbox" {{isChecked item.system.kannetecken}} data-dtype="Boolean" data-field="kannetecken" /></div>
						</div>
					{{/if}}					

				</div>

				<div class="pullLeft" style="flex-grow: 1; text-align: right;">
					{{#if hasActor}}
						{{#if item.system.installningar.kantabort}}
							<div class="pointer red item-delete large-icon" data-itemid="{{item._id}}"><i class="icon fa-solid fa-trash-can"></i></div>
						{{/if}}
					{{/if}}
					<div class="information-area top-sidetext">FÄRDIGHET</div>
				</div>

			</div>		
		</header>
		
		<section class="item-body">		
			
			{{#if hasExperience}}
				<div class="form-group">

					<button class="dialog-button four-column skill-improve">Förbättra färdighet</button>
				</div>
			{{/if}}
					
		</section>

	</div>
</form>