<form class="{{cssClass}}" autocomplete="off">

	<div class="sheet-item">
		<header class="sheet-header item-top">

            <div class="clear" style="display: flex;">
                <div class="pullLeft" style="min-width: 110px;">
                    {{#if (eq item.system.grupp "")}}
                        <img src="{{item.img}}" class="item img-block" />
                    {{/if}}
                    {{#if (eq item.system.grupp "slagsmal")}}
                        <img src="{{EON.CONFIG.ikoner.foremal_hand}}" class="item img-block" />
                    {{/if}}
                    {{#if (eq item.system.grupp "dolk")}}
                        <img src="{{EON.CONFIG.ikoner.foremal_dolk}}" class="item img-block" />
                    {{/if}}
                    {{#if (eq item.system.grupp "kedjevapen")}}
                        <img src="{{EON.CONFIG.ikoner.foremal_kedjevapen}}" class="item img-block" />
                    {{/if}}
                    {{#if (eq item.system.grupp "klubba")}}
                        <img src="{{EON.CONFIG.ikoner.foremal_klubba}}" class="item img-block" />
                    {{/if}}
                    {{#if (eq item.system.grupp "spjut")}}
                        <img src="{{EON.CONFIG.ikoner.foremal_spjut}}" class="item img-block" />
                    {{/if}}
                    {{#if (eq item.system.grupp "stav")}}
                        <img src="{{EON.CONFIG.ikoner.foremal_stav}}" class="item img-block" />
                    {{/if}}
                    {{#if (eq item.system.grupp "svard")}}
                        <img src="{{EON.CONFIG.ikoner.foremal_svard}}" class="item img-block" />
                    {{/if}}				
                    {{#if (eq item.system.grupp "yxa")}}
                        <img src="{{EON.CONFIG.ikoner.foremal_yxa}}" class="item img-block" />
                    {{/if}}	
                </div>

                <div class="pullLeft" style="min-width: 350px;">
                    <div class="number-value-text floating-label-group">
                        <input class="text-value editable" type="text" name="name" value="{{item.name}}" data-dtype="String" autocomplete="off" autofocus required />
                        <span class="floating-label">Namn</span>
                    </div>       
                    
                    <div class="number-value-text floating-label-group">
                        <select name="system.grupp">                                
                            {{#select item.system.grupp}}
                                <option value="">- Välj -</option>
                                {{#each EON.CONFIG.vapengrupper as |vapengrupp key|}}
                                    {{#if (eq vapengrupp.grupp "narstridsvapen")}}
                                        <option value="{{key}}">{{vapengrupp.namn}}</option>
                                    {{/if}}
                                {{/each}}
                            {{/select}}
                        </select>
                        <span class="floating-label">Färdighet</span>
                    </div>

                    <div class="number-value-text floating-label-group">
                        <select class="inputdata" name="system.mall" data-source="weapon-close">
                            <option value="">- Välj -</option>                                       
                            {{#select item.system.mall}}    
                                <option value="{{item._id}}">- Skräddarsytt -</option> 
                                {{#each (getWeaponGroup EON.narstridsvapen item.system.grupp) as |vapen key|}}     
                                    <option value="{{key}}">{{vapen.namn}}</option>               
                                {{/each}}
                            {{/select}}
                        </select>
                        <span class="floating-label">Vapenmall</span>
                    </div>

                    <div class="number-value-text floating-label-group">
                        <input class="attribute-value editable" name="system.langd" type="text" value="{{data.system.langd}}" data-dtype="Number" />
                        <span class="floating-label">Längd (cm)</span>
                    </div>

                    <div class="number-value-text floating-label-group ">
                        <input class="attribute-value editable" name="system.vikt" type="text" value="{{data.system.vikt}}" data-dtype="Number" />
                        <span class="floating-label">Vikt (kg)</span>
                    </div>

                    <div class="number-value-text floating-label-group ">
                        <input class="attribute-value editable" name="system.pris" type="text" value="{{data.system.pris}}" data-dtype="Number" />
                        <span class="floating-label">Pris (silver)</span>
                    </div>

                    <div class="clear">
                        <div class="pullLeft item-headline caption">1H</div>
                        <div class="pullLeft"><input class="item-active" name="system.enhand.aktiv" type="checkbox" data-property="enhand" {{isChecked data.system.enhand.aktiv}} data-dtype="Boolean" /></div>
                        <div class="pullLeft dice-value number-value-text tic pointer" data-property="enhand">{{getDiceValue item.system.enhand}}</div>
                    </div>
                    <div class="clear">
                        <div class="pullLeft item-headline caption">2H</div>
                        <div class="pullLeft"><input class="item-active" name="system.tvahand.aktiv" type="checkbox" data-property="tvahand" {{isChecked data.system.tvahand.aktiv}} data-dtype="Boolean" /></div>
                        <div class="pullLeft dice-value number-value-text tic pointer" data-property="tvahand">{{getDiceValue item.system.tvahand}}</div>
                    </div>
        
                    <div class="clear">
                        <div class="pullLeft item-headline caption">Hugg</div>
                        <div class="pullLeft"><input class="item-active" name="system.hugg.aktiv" type="checkbox" data-property="hugg" {{isChecked data.system.hugg.aktiv}} data-dtype="Boolean" /></div>
                        <div class="pullLeft dice-value number-value-text tic pointer" data-property="hugg">{{getDiceValue item.system.hugg}}</div>
                    </div>
                    <div class="clear">
                        <div class="pullLeft item-headline caption">Kross</div>
                        <div class="pullLeft"><input class="item-active" name="system.kross.aktiv" type="checkbox" data-property="kross" {{isChecked data.system.kross.aktiv}} data-dtype="Boolean" /></div>
                        <div class="pullLeft dice-value number-value-text tic pointer" data-property="kross">{{getDiceValue item.system.kross}}</div>
                    </div>
                    <div class="clear">
                        <div class="pullLeft item-headline caption">Stick</div>
                        <div class="pullLeft"><input class="item-active" name="system.stick.aktiv" type="checkbox" data-property="stick" {{isChecked data.system.stick.aktiv}} data-dtype="Boolean" /></div>
                        <div class="pullLeft dice-value number-value-text tic pointer" data-property="stick">{{getDiceValue item.system.stick}}</div>
                    </div>

                </div>

                {{#if hasActor}}
                    <div class="pullRight pointer red item-delete" data-itemid="{{item._id}}"><i class="icon fa-solid fa-trash-can"></i></div>
                {{/if}}
            </div>
			
		</header>
		
		<section class="item-body">   

            <div>
                <div class="textbox-headline">Beskrivning</div>
                <div class="editor-box">
                    {{editor data.system.beskrivning target="system.beskrivning" button=true owner=owner editable=true}}
                </div>
            </div>

            <div class="item-headline headline">Egenskaper</div>
            <div class="property-area">                
                {{#each EON.egenskaper as |egenhet key|}}                        
                    <div class="clear">
                        <div class="pullLeft item-headline">{{egenhet.namn}}</div>
                        <div class="pullLeft item-headline number-value-text">
                            <div class="pullLeft">
                                <input class="weapon-property caption" type="checkbox" {{#if (checkProperty ../item.system.egenskaper key)}} checked {{/if}} value="{{key}}" />
                            </div>
                            {{#if (checkProperty ../item.system.egenskaper key)}}
                                {{#if egenhet.harniva}}
                                    <div class="pullLeft">
                                        <input class="inputdata" style="width: 50px;" type="text" value="{{getPropertyLevel ../item.system.egenskaper key}}" data-source="weapon-property" data-dtype="Number" />
                                    </div>
                                {{/if}}
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
            </div>
		</section>

	</div>
</form>