<form class="{{cssClass}}" autocomplete="off">

	<div class="sheet-item">
		<header class="sheet-header item-top">

            <div style="display: flex;">
                <div class="pullLeft">
                    {{#if (eq data.system.typ "skada")}}
                        <img src="{{EON.CONFIG.ikoner.skada}}" class="item img-block" />
                    {{/if}}
                    {{#if (eq data.system.typ "faltstorning")}}
                        <img src="{{EON.CONFIG.ikoner.faltstorning}}" class="item img-block" />
                    {{/if}}
                </div>

                <div class="item-area pullLeft">
                    <div class="item-top">
                        <div class="item-property-area floating-label-group">
                            {{#if (eq data.system.typ "faltstorning")}}
                                <select class="text-value inputdata" name="system.id" data-source="aspekt">
                                    <option value="">{{localize "eon.sheets.item.valjOption"}}</option>
                                    {{#select item.system.id}}										
                                        {{#each EON.CONFIG.aspekter as |aspekt key|}}
                                            <option value="{{key}}">{{localize aspekt}}</option>
                                        {{/each}}
                                    {{/select}}
                                </select>
                            {{else if (eq data.system.typ "skada")}}
                                <input class="text-value editable" type="text" name="name" value="{{item.name}}" data-dtype="String" autocomplete="off" autofocus required />
                            {{/if}}
                            <span class="floating-label">{{localize "eon.sheets.item.namn"}}</span>
                        </div>

                        {{#if (eq data.system.typ "faltstorning")}}
                            <div class="item-property-area floating-label-group">
                                <select class="text-value" name="system.niva">
                                    <option value="">{{localize "eon.sheets.item.valjOption"}}</option>
                                    {{#select item.system.niva}}										
                                        <option value="flimmer">{{localize "eon.sheets.item.faltstorningFlimmer"}}</option>
                                        <option value="mattlig">{{localize "eon.sheets.item.faltstorningMattlig"}}</option>
                                        <option value="allvarlig">{{localize "eon.sheets.item.faltstorningAllvarlig"}}</option>
                                        <option value="kritisk">{{localize "eon.sheets.item.faltstorningKritisk"}}</option>
                                    {{/select}}
                                </select>
                                <span class="floating-label">{{localize "eon.sheets.actor.niva"}}</span>
                            </div>
                        {{/if}}

                        <div class="item-property-area floating-label-group">
                            <input class="text-value editable" type="text" name="system.referens" value="{{data.system.referens}}" data-dtype="String" autocomplete="off" autofocus required />
                            <span class="floating-label">{{localize "eon.sheets.item.referens"}}</span>
                        </div>

                    </div>       
                </div>	

                <div class="pullLeft" style="flex-grow: 1; text-align: right;">
                    {{#if hasActor}}
                        <div class="pointer red item-delete large-icon" data-itemid="{{item._id}}"><i class="icon fa-solid fa-trash-can"></i></div>
                    {{/if}}     
                    
                    {{#if (eq data.system.typ "skada")}}
                        <div class="information-area top-sidetext">{{localize "eon.sheets.item.skadaSheetLabel"}}</div>
                    {{/if}}
                    {{#if (eq data.system.typ "faltstorning")}}
                        <div class="information-area top-sidetext">{{localize "eon.sheets.item.faltstorningSheetLabel"}}</div>
                    {{/if}}
                </div>
            </div>	
			
		</header>
		
		<section class="item-body">   
            <div style="width: 450px;">
                {{> "systems/eon-rpg/templates/items/parts/items-description.html"}}
            </div>         
		</section>
	</div>
</form>
