<form class="{{cssClass}}" autocomplete="off">
    <div class="sheet-item">
        <header class="sheet-header item-top">
            <div class="clear" style="display: flex;">
                <div class="pullLeft" style="min-width: 110px;">
                    <img src="{{item.img}}" class="item img-block" />
                </div>

                <div class="pullLeft" style="min-width: 270px;">
                    <div class="item-property-area   floating-label-group">
                        <select class="text-value inputdata" name="name" data-source="valuta">
                            <option value="">- Välj valuta -</option>
                            {{#each (getCurrencyList EON.CONFIG.datavaluta) as | valuta key|}}
                                <option value="{{valuta.namn}}" {{#if (eq ../item.name valuta.namn)}}selected{{/if}}>
                                    {{valuta.namn}} ({{valuta.ursprung}})
                                </option>
                            {{/each}}
                        </select>
                        <span class="floating-label">Valuta</span>
                    </div>

                    <div class="item-property-area   floating-label-group">
                        <input class="attribute-value" name="system.metall" type="text" value="{{item.system.metall}}" data-dtype="String" readonly />
                        <span class="floating-label">Metall</span>
                    </div>

                    <div class="item-property-area   floating-label-group">
                        <input class="attribute-value" name="system.silver_varde" type="text" value="{{item.system.silver_varde}}" data-dtype="Number" readonly />
                        <span class="floating-label">Silvervärde</span>
                    </div>

                    <div class="item-property-area   floating-label-group">
                        <input class="attribute-value editable" name="system.antal" type="text" value="{{item.system.antal}}" data-dtype="Number" />
                        <span class="floating-label">Antal</span>
                    </div>

                    <div class="item-property-area   floating-label-group">
                        <input class="attribute-value" name="system.vikt" type="text" value="{{item.system.vikt}}" data-dtype="Number" readonly />
                        <span class="floating-label">Vikt (st/kg)</span>
                    </div>
                </div>

                <div class="pullLeft" style="flex-grow: 1; text-align: right;">
                    {{#if hasActor}}
                        <div class="pointer red item-delete large-icon" data-itemid="{{item._id}}"><i class="icon fa-solid fa-trash-can"></i></div>
                    {{/if}}     
                    <div class="information-area top-sidetext">VALUTA</div>
                </div>
            </div>
        </header>
        
        <section class="item-body">    
            <div style="width: 450px;">
                {{> "systems/eon-rpg/templates/items/parts/items-description.html"}}
            </div>
        </section>
    </div>
</form>
