<nav class="sheet-tabs tab-area headlineTabs" data-group="primary">    
    <a class="tabButton" data-tab="skill">FÄRDIGHETER</a>
    <!-- <a class="tabButton" data-tab="combat">STRID</a>
    <a class="tabButton" data-tab="mystic">MYSTIK</a> -->
    <a class="tabButton tabboxleft" data-tab="weapon">VAPEN</a>
    <a class="tabButton tabboxleft" data-tab="armor">RUSTNING</a>
    <a class="tabButton tabboxleft" data-tab="magic">MAGI</a>
    <a class="tabButton tabboxleft" data-tab="religion">RELIGION</a>
    <a class="tabButton tabboxleft" data-tab="equipment">UTRUSTNING</a>    
    <a class="tabButton tabboxleft" data-tab="bio">BAKGRUND</a>
    <a class="tabButton tabboxleft tabIcon" data-tab="settings"><i class="icon fa-solid fa-gear"></i></a>
</nav>