<nav class="sheet-tabs tab-area headlineTabs" data-group="primary">    
    <a class="tabButton" data-tab="skill">Färdigheter</a>
    <!-- <a class="tabButton" data-tab="combat">STRID</a>
    <a class="tabButton" data-tab="mystic">MYSTIK</a> -->
    <a class="tabButton tabboxleft" data-tab="weapon">Vapen</a>
    <a class="tabButton tabboxleft" data-tab="armor">Rustning</a>
    {{#if EON.CONFIG.settings.bookMagic}}
        <a class="tabButton tabboxleft" data-tab="magic">Magi</a>
    {{/if}}
    <a class="tabButton tabboxleft" data-tab="religion">Religion</a>
    <a class="tabButton tabboxleft" data-tab="equipment">Utrustning</a>    
    <a class="tabButton tabboxleft" data-tab="bio">Bakgrund</a>
    <!-- <a class="tabButton tabboxleft tabIcon" data-tab="settings"><i class="icon fa-solid fa-gear"></i></a> -->
</nav>