<div class="item-box">
    <div class="clear">
        <div class="pullLeft large-headline">Avståndsvapen</div>
        <div class="pullLeft pointer"><a class="item-create" title="Lägg till vapen" data-type="avståndsvapen"><i class="fa-solid fa-square-plus green"></i></a></div>
    </div>
    <div class="clear headline" style="line-height: 25px; width:100%;">
        <div class="pullLeft weapon-icon">&nbsp;</div>
        <div class="pullLeft active-icon">&nbsp;</div>
        <div class="pullLeft" style="width: 125px;">Namn</div>
        <div class="pullLeft" style="width: 75px;">Färdighet</div>
        <div class="pullLeft" style="width: 45px;">1H</div>
        <div class="pullLeft" style="width: 45px;">2H</div>
        <div class="pullLeft" style="width: 100px;">Räckvidd</div>
        <!-- <div class="pullLeft" style="width: 50px;">Typ</div> -->
        <div class="pullLeft" style="width: 50px;">Skada</div>
        <div class="pullLeft" style="width: 50px;">Längd</div>
        <div class="pullLeft" style="width: 50px;">Vikt</div>
        <div class="pullLeft">Egenskaper</div>
    </div>

    {{#each actor.system.listdata.utrustning.vapen.avstand as |vapen key|}}
        <div class="clear" style="line-height: 25px; width:100%;">
            <div class="pointer pullLeft weapon-icon"><a class="item-edit" title="Editera vapen" data-source="weapon" data-itemid="{{vapen._id}}"><i class="icon fa-solid fa-pen-to-square"></i></a></div>
            <div class="pullLeft active-icon"><input class="pointer item-active" name="vapen.system.installningar.buren" type="checkbox" data-itemid="{{vapen._id}}" data-property="buren" {{isChecked vapen.system.installningar.buren}} /></div>
            <div class="pullLeft vrollable" style="width: 125px;" data-source="weapon" data-itemid="{{vapen._id}}">{{vapen.name}}</div>
            <div class="pullLeft number-value-text" style="width: 75px;">{{getDiceValue (getActorSkillGroupValue ../actor vapen.system.grupp "strid")}}</div>
            <div class="pullLeft number-value-text" style="width: 45px;">{{#if (eq vapen.system.enhand.aktiv false)}}-{{else}}{{getDiceValue vapen.system.enhand}}{{/if}}</div>
            <div class="pullLeft number-value-text" style="width: 45px;">{{#if (eq vapen.system.tvahand.aktiv false)}}-{{else}}{{getDiceValue vapen.system.tvahand}}{{/if}}</div>
            <div class="pullLeft number-value-text" style="width: 100px;">{{{getRange ../EON.CONFIG.vapenavstand vapen.system.rackvidd}}}</div>
            <!-- <div class="pullLeft number-value-text" style="width: 50px;">{{{getWeaponDamageType ../EON.CONFIG.vapenskador vapen.system.skadetyp}}}</div> -->
            <div class="pullLeft number-value-text" style="width: 50px;">{{getDiceValue vapen.system.skada}}</div>
            <div class="pullLeft number-value-text" style="width: 50px;">{{#if (eq vapen.system.langd 0)}}-{{else}}{{vapen.system.langd}}cm{{/if}}</div>
            <div class="pullLeft number-value-text" style="width: 50px;">{{#if (eq vapen.system.vikt 0)}}-{{else}}{{vapen.system.vikt}}kg{{/if}}</div>
            <div class="pullLeft number-value-text" title="{{getPropertyList vapen.system.egenskaper}}">{{shorten (getPropertyList vapen.system.egenskaper) 25}}</div>
        </div>
    {{/each}}
</div>

<!-- <div style="min-height: 100px;">
    <div class="clear">
        <div class="pullLeft large-headline">Ammunition</div>
        <div class="pullLeft"><i class="fa-solid fa-square-plus green"></i></div>
    </div>
    <div class="clear headline" style="line-height: 25px; width:100%;">
        <div class="pullLeft" style="width: 100px;">Beskrivning</div>
        <div class="pullLeft" style="width: 50px;">Antal</div>
    </div>
</div> -->