<div class="remaining-width pullLeft">
    <div>
        <div class="headline">
            <div class="clear attribute-area">
                <div class="pullLeft large-headline">ROLLPERSONENS NAMN</div>
            </div>
        </div>

        <div class="three-column pullLeft">
            <div class="headline">
                <div class="attribute-area">Grundattribut</div>
            </div>

            {{#each EON.CONFIG.grundegenskaper as |attribute key|}}            
                <div class="clear">
                    <div class="pullLeft caption">{{attribute.namn}}</div>
                    <div class="pullLeft attribute-value">
                        <div class="pullLeft tic-container">
                            <div class="tic"><i class="fa-solid fa-sort-up tic-top"></i></div>
                            <div class="tic"><i class="fa-solid fa-sort-down tic-down"></i></div>
                        </div>
                        <div class="pullLeft">
                            <input class="attribute-value" type="text" value="{{getDiceValue (getActorAttribute ../data key)}}" readonly>
                        </div>
                        <div class="pullLeft tic-container">
                            <div class="tic"><i class="fa-solid fa-sort-up tic-top"></i></div>
                            <div class="tic"><i class="fa-solid fa-sort-down tic-down"></i></div>
                        </div>
                    </div>
                </div>
            {{/each}}

            <div class="clear headline">
                <div class="pullLeft attribute-area">Oanvänd erfarenhet <span class="pullRight">0</span></div>
            </div>
        </div>
        <div class="three-column pullLeft">
            <div class="headline">
                <div class="attribute-area">Härledda attribut</div>
            </div>
            <div class="clear">
                <div class="pullLeft caption">Förflyttning</div>
                <div class="pullLeft attribute-value"><input class="attribute-value" type="text" value="{{getDiceValue data.system.harleddegenskaper.forflyttning}}" readonly></div>
            </div>
            <div class="clear">
                <div class="pullLeft caption">Intryck</div>
                <div class="pullLeft attribute-value"><input class="attribute-value" type="text" value="{{getDiceValue data.system.harleddegenskaper.intryck}}" readonly></div>
            </div>
            <div class="clear">
                <div class="pullLeft caption">Kroppsbyggnad</div>
                <div class="pullLeft attribute-value"><input class="attribute-value" type="text" value="{{getDiceValue data.system.harleddegenskaper.kroppsbyggnad}}" readonly></div>
            </div>
            <div class="clear">
                <div class="pullLeft caption">Reaktion</div>
                <div class="pullLeft attribute-value"><input class="attribute-value" type="text" value="{{getDiceValue data.system.harleddegenskaper.reaktion}}" readonly></div>
            </div>
            <div class="clear">
                <div class="pullLeft caption">Självkontroll</div>
                <div class="pullLeft attribute-value"><input class="attribute-value" type="text" value="{{getDiceValue data.system.harleddegenskaper.sjalvkontroll}}" readonly></div>
            </div>
            <div class="clear">
                <div class="pullLeft caption">Vaksamhet</div>
                <div class="pullLeft attribute-value"><input class="attribute-value" type="text" value="{{getDiceValue data.system.harleddegenskaper.vaksamhet}}" readonly></div>
            </div>
            <div class="clear">
                <div class="pullLeft caption">Livskraft</div>
                <div class="pullLeft attribute-value"><input class="attribute-value" type="text" value="{{getDiceValue data.system.harleddegenskaper.livskraft}}" readonly></div>
            </div>
        </div>  

        <div class="three-column pullLeft">
            <div class="clear headline">
                <div class="pullLeft attribute-area">Karaktärsdrag</div>        
            </div>
            <div class="clear">
                <div class="pullLeft caption">Primärt</div>
                <div class="pullLeft attribute-value"><input class="attribute-value" type="text"></div>
            </div>
            <div class="clear">
                <div class="pullLeft caption">Sekundärt</div>
                <div class="pullLeft attribute-value"><input class="attribute-value" type="text"></div>
            </div>
            <div class="headline">
                <div class="attribute-area">Focus</div>
            </div>
            <div class="resource-circle">
                <span class="resource-value"></span>
                <span class="resource-value"></span>
                <span class="resource-value"></span>
                <span class="resource-value"></span>
                <span class="resource-value"></span>
            </div>
            <div class="resource-circle">
                <span class="resource-value"></span>
                <span class="resource-value"></span>
                <span class="resource-value"></span>
                <span class="resource-value"></span>
                <span class="resource-value"></span>
            </div>
            <div class="clear">
                <div class="pullLeft caption">Välmående</div>
                <div class="pullLeft attribute-value"><input class="attribute-value" type="text"></div>
            </div>
            <div class="headline">
                <div class="attribute-area">Avtrubbning</div>
            </div>
            <div class="avtrubbning-column">
                <div class="clear">
                    <div class="pullLeft caption">Utsatthet</div>
                    <div class="resource-box pullLeft">
                        <span class="resource-value"></span>
                        <span class="resource-value"></span>
                        <span class="resource-value"></span>
                        <span class="resource-value"></span>
                        <span class="resource-value"></span>
                    </div>
                </div>
                <div class="clear">
                    <div class="pullLeft caption">Våld</div>
                    <div class="resource-box pullLeft">
                        <span class="resource-value"></span>
                        <span class="resource-value"></span>
                        <span class="resource-value"></span>
                        <span class="resource-value"></span>
                        <span class="resource-value"></span>
                    </div>
                </div>
                <div class="clear">
                    <div class="pullLeft caption">Övernaturligt</div>
                    <div class="resource-box pullLeft">
                        <span class="resource-value"></span>
                        <span class="resource-value"></span>
                        <span class="resource-value"></span>
                        <span class="resource-value"></span>
                        <span class="resource-value"></span>
                    </div>
                </div>
                <div class="clear sheet-box">
                    <div class="pullLeft caption">&nbsp;</div>
                    <div class="smalltext pullLeft">
                        <div class="pullLeft resource-box-text">+5</div>
                        <div class="pullLeft resource-box-text">+10</div>
                        <div class="pullLeft resource-box-text">+15</div>
                        <div class="pullLeft resource-box-text">+20</div>
                        <div class="pullLeft resource-box-text">+25</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="image-column pullRight">
    <img class="profile-img pointer" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
    <div><button>ROLLPERSON</button></div>
</div>

