{{> "systems/eon-rpg/templates/actors/parts/rollperson-sheet-trait.html"}}

<div class="clear">
    <div class="two-column pullLeft">
        <div class="clear">
            <div class="pullLeft caption">Namn</div>
            <div class="pullLeft attribute-value editable"><input name="name" class="attribute-value editable" type="text" value="{{actor.name}}" data-dtype="String" /></div>
        </div>
        <div class="clear">
            <div class="pullLeft caption">Kön</div>
            <div class="pullLeft attribute-value editable"><input class="attribute-value editable" type="text" data-dtype="String" /></div>
        </div>
        <div class="clear">
            <div class="pullLeft caption">Ålder</div>
            <div class="pullLeft attribute-value editable number-value-text"><input class="attribute-value editable" type="text" data-dtype="String" /></div>
        </div>
        <div class="clear">
            <div class="pullLeft caption">Religion</div>
            <div class="pullLeft attribute-value editable"><input class="attribute-value editable" type="text" data-dtype="String" /></div>
        </div>
        <div class="clear">
            <div class="pullLeft caption">Värv</div>
            <div class="pullLeft attribute-value editable"><input class="attribute-value editable" type="text" data-dtype="String" /></div>
        </div>
        <div class="clear">
            <div class="pullLeft caption">Hemort</div>
            <div class="pullLeft attribute-value editable"><input class="attribute-value editable" type="text" data-dtype="String" /></div>
        </div>
        <div class="clear">
            <div class="pullLeft caption">Längd</div>
            <div class="pullLeft attribute-value editable number-value-text"><input class="attribute-value editable" type="text" data-dtype="String" /></div>
        </div>
        <div class="clear">
            <div class="pullLeft caption">Vikt</div>
            <div class="pullLeft attribute-value editable number-value-text"><input class="attribute-value editable" type="text" data-dtype="String" /></div>
        </div>
        <div class="clear">
            <div class="pullLeft caption">Vapenarm</div>
            <div class="pullLeft attribute-value editable">
                <select class="" name="system.strid.vapenarm" id="system.strid.vapenarm">
                    <option>- Välj -</option>
                    {{#select data.system.strid.vapenarm}}                                        
                        <option value="hoger">Höger</option>
                        <option value="vanster">Vänster</option>
                        <option value="annat">Annat</option>
                    {{/select}}
                </select>
            </div>
        </div>
    </div>

    <div class="two-column pullLeft">
        <div class="clear">
            <div class="pullLeft caption">Arketyp</div>
            <div class="pullLeft attribute-value editable">
                <select name="system.bakgrund.arketyp">
                    <option>- Välj -</option>
                    {{#select data.system.bakgrund.arketyp}}
                        {{#each EON.arketyper as |arketyp key|}}
                            <option value="{{key}}">{{arketyp.namn}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="clear">
            <div class="pullLeft caption">Miljö</div>
            <div class="pullLeft attribute-value editable">
                <select name="system.bakgrund.miljo">
                    <option>- Välj -</option>
                    {{#select data.system.bakgrund.miljo}}
                        {{#each EON.miljoer as |miljo key|}}
                            <option value="{{key}}">{{miljo.namn}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="clear">
            <div class="pullLeft caption">Bakgrund</div>
            <div class="pullLeft attribute-value editable"><input name="system.bakgrund.sysselsattning" value="{{data.system.bakgrund.sysselsattning}}" class="attribute-value editable" type="text" data-dtype="String" /></div>
        </div>
        <div class="clear">
            <div class="pullLeft caption">Folkslag</div>
            <div class="pullLeft attribute-value editable">
                <select id="folkslag" class="inputdata" data-source="folkslag">
                    <option>- Välj -</option>
                    {{#select actor.system.bakgrund.folkslag}}
                        {{#each EON.folkslag as |folkslag key|}}
                            <option value="{{key}}">{{folkslag.namn}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>  
    </div>
</div>

<div class="clear">
    <div class="headline">Rykten och titlar</div>
    <div class="headline">Livsregler och eder</div>
    <div class="headline">Organisationer</div>
    <div class="headline">Relationer</div>
    <div class="headline">Tillfälliga kontakter</div>
    <div class="headline">Släkt</div>
    <div class="headline">Viktiga datum</div>
</div>

<div class="clear">Anteckningar</div>
<div><textarea></textarea></div>
<div class="clear">
    <div class="pullLeft caption">Oanvänd erfarenhet</div>
    <div class="pullLeft attribute-value editable number-value-text"><input class="attribute-value editable" type="text" data-dtype="Number" /></div>
</div>