{{#unless (isEon5 actor)}}

    <div>

        <div class="bio-box item-column info-box" style="max-height: 200px; width: 100%;">

            <div class="bio">
                <div class="floating-label-group">
                    <input class="text-value editable" type="text" name="name" value="{{actor.name}}" data-dtype="String" style="width: 300px" />
                    <span class="floating-label">{{localize "eon.sheets.actor.namn"}}</span>
                </div>
            </div>        

            <div class="bio item-row">

                <div>
                    <div class="floating-label-group">
                        <input class="text-value editable" type="text" data-dtype="String" style="width: 138px" name="system.bakgrund.kon" value="{{data.system.bakgrund.kon}}" />
                        <span class="floating-label">{{localize "eon.sheets.actor.kon"}}</span>
                    </div>
                </div>

                <div>
                    <div class="floating-label-group">
                        <input class="text-value editable" type="text" data-dtype="String" style="width: 50px" name="system.bakgrund.alder" value="{{data.system.bakgrund.alder}}" />
                        <span class="floating-label">{{localize "eon.sheets.actor.alder"}}</span>
                    </div>
                </div>

                <div>
                    <div class="floating-label-group">
                        <input class="text-value editable" type="text" data-dtype="String" style="width: 50px" name="system.bakgrund.langd" value="{{data.system.bakgrund.langd}}" />
                        <span class="floating-label">{{localize "eon.sheets.actor.langd"}}</span>
                    </div>
                </div>

                <div>
                    <div class="floating-label-group">
                        <input class="text-value editable" type="text" data-dtype="String" style="width: 50px" name="system.bakgrund.vikt" value="{{data.system.bakgrund.vikt}}" />
                        <span class="floating-label">{{localize "eon.sheets.actor.vikt"}}</span>
                    </div>
                </div>
            </div>

            <div class="bio">
                <div class="floating-label-group">
                    <select class="text-value editable" name="system.strid.vapenarm" id="system.strid.vapenarm" style="width: 300px">
                        {{selectOptions listData.vapenArm selected=actor.system.strid.vapenarm localize=true}}                                        
                    </select>
                    <span class="floating-label">{{localize "eon.sheets.actor.vapenarm"}}</span>
                </div>
            </div>

            <div class="bio">
                <div class="floating-label-group">
                    <input class="text-value editable" type="text" data-dtype="String" style="width: 300px" name="system.bakgrund.folkslag" value="{{data.system.bakgrund.folkslag}}" />
                    <span class="floating-label">{{localize "eon.sheets.actor.folkslag"}}</span>
                </div>
            </div>
            {{#if (isEon5 actor)}}
            <div class="bio">
                <div class="floating-label-group">
                    <input class="text-value editable" type="text" data-dtype="String" style="width: 300px" name="system.bakgrund.kulturfolkslag" value="{{data.system.bakgrund.kulturfolkslag}}" />
                    <span class="floating-label">{{localize "eon.sheets.actor.kulturfolkslag"}}</span>
                </div>
            </div>
            {{/if}}

            {{#unless (isEon5 actor)}}
            <div class="bio">
                <div class="floating-label-group">
                    <input class="text-value editable" type="text" data-dtype="String" style="width: 300px" name="system.bakgrund.religion" value="{{data.system.bakgrund.religion}}" />
                    <span class="floating-label">{{localize "eon.sheets.actor.religion"}}</span>
                </div>
            </div>
            {{/unless}}
            {{#if (isEon5 actor)}}
            <div class="bio">
                <div class="floating-label-group">
                    <input class="text-value editable" type="text" data-dtype="String" style="width: 300px" name="system.bakgrund.religion" value="{{data.system.bakgrund.religion}}" />
                    <span class="floating-label">{{localize "eon.sheets.actor.religion"}}</span>
                </div>
            </div>
            <div class="bio">
                <div class="floating-label-group">
                    <input class="text-value editable" type="text" data-dtype="String" style="width: 300px" name="system.bakgrund.doktriner" value="{{data.system.bakgrund.doktriner}}" />
                    <span class="floating-label">{{localize "eon.sheets.actor.doktriner"}}</span>
                </div>
            </div>
            {{/if}}

            <div class="bio">
                <div class="floating-label-group">
                    <input class="text-value editable" type="text" data-dtype="String" style="width: 300px" name="system.bakgrund.varv" value="{{data.system.bakgrund.varv}}" />
                    <span class="floating-label">{{localize "eon.sheets.actor.varv"}}</span>
                </div>
            </div>

            <div class="bio">
                <div class="floating-label-group">
                    <input class="text-value editable" type="text" data-dtype="String" style="width: 300px" name="system.bakgrund.hemort" value="{{data.system.bakgrund.hemort}}" />
                    <span class="floating-label">{{localize "eon.sheets.actor.hemort"}}</span>
                </div>
            </div>
            {{#if (isEon5 actor)}}
            <div class="bio">
                <div class="floating-label-group">
                    <input class="text-value editable" type="text" data-dtype="String" style="width: 300px" name="system.bakgrund.hemland" value="{{data.system.bakgrund.hemland}}" />
                    <span class="floating-label">{{localize "eon.sheets.actor.hemland"}}</span>
                </div>
            </div>
            {{/if}}

            <div class="bio">
                <div class="floating-label-group">
                    <input class="text-value editable" type="text" data-dtype="String" style="width: 300px" name="system.bakgrund.arketyp" value="{{data.system.bakgrund.arketyp}}" />
                    <span class="floating-label">{{localize "eon.sheets.actor.arketyp"}}</span>
                </div>
            </div>

            <div class="bio">
                <div class="floating-label-group">
                    <input class="text-value editable" type="text" data-dtype="String" style="width: 300px" name="system.bakgrund.miljo" value="{{data.system.bakgrund.miljo}}" />
                    <span class="floating-label">{{localize "eon.sheets.actor.miljo"}}</span>
                </div>
            </div>
            {{#if (isEon5 actor)}}
            <div class="bio">
                <div class="floating-label-group">
                    <input class="text-value editable" type="text" data-dtype="String" style="width: 300px" name="system.bakgrund.levnadsstandard" value="{{data.system.bakgrund.levnadsstandard}}" />
                    <span class="floating-label">{{localize "eon.sheets.actor.levnadsstandard"}}</span>
                </div>
            </div>
            {{/if}}

            <div class="bio">
                <div class="floating-label-group">
                    <input class="text-value editable" type="text" name="system.bakgrund.sysselsattning" value="{{data.system.bakgrund.sysselsattning}}" data-dtype="String" style="width: 300px" />
                    <span class="floating-label">{{localize "eon.sheets.actor.sysselsattning"}}</span>
                </div>
            </div>
            {{#if (isEon5 actor)}}
            <div class="bio">
                <div class="floating-label-group">
                    <input class="text-value editable" type="text" data-dtype="String" style="width: 300px" name="system.bakgrund.koncept" value="{{data.system.bakgrund.koncept}}" />
                    <span class="floating-label">{{localize "eon.sheets.actor.koncept"}}</span>
                </div>
            </div>
            {{/if}}

            

            
        </div>
    </div>

{{/unless}}

{{#if (isEon5 actor)}}

    <div class="bio-box">

        <div class="item-column info-box" style="max-height: 200px; width: 100%;">

            <div class="bio item-row">

                <div>
                    <div class="floating-label-group">
                        <input class="text-value editable" type="text" name="name" value="{{actor.name}}" data-dtype="String" style="width: 148px" />
                        <span class="floating-label">{{localize "eon.sheets.actor.namn"}}</span>
                    </div>
                </div>    

                <div>
                    <div class="floating-label-group">
                        <input class="text-value editable" type="text" name="system.bakgrund.titel" value="{{data.system.bakgrund.titel}}" data-dtype="String" style="width: 148px" />
                        <span class="floating-label">{{localize "eon.sheets.actor.titel"}}</span>
                    </div>
                </div>

            </div>
            
            <div class="bio">
                <div class="floating-label-group">
                    <input class="text-value editable" type="text" data-dtype="String" style="width: 300px" name="system.bakgrund.koncept" value="{{data.system.bakgrund.koncept}}" />
                    <span class="floating-label">{{localize "eon.sheets.actor.koncept"}}</span>
                </div>
            </div>

            <div class="bio item-row">

                <div>
                    <div class="floating-label-group">
                        <input class="text-value editable" type="text" data-dtype="String" style="width: 138px" name="system.bakgrund.kon" value="{{data.system.bakgrund.kon}}" />
                        <span class="floating-label">{{localize "eon.sheets.actor.kon"}}</span>
                    </div>
                </div>

                <div>
                    <div class="floating-label-group">
                        <input class="text-value editable" type="text" data-dtype="String" style="width: 50px" name="system.bakgrund.alder" value="{{data.system.bakgrund.alder}}" />
                        <span class="floating-label">{{localize "eon.sheets.actor.alder"}}</span>
                    </div>
                </div>

                <div>
                    <div class="floating-label-group">
                        <input class="text-value editable" type="text" data-dtype="String" style="width: 50px" name="system.bakgrund.langd" value="{{data.system.bakgrund.langd}}" />
                        <span class="floating-label">{{localize "eon.sheets.actor.langd"}}</span>
                    </div>
                </div>

                <div>
                    <div class="floating-label-group">
                        <input class="text-value editable" type="text" data-dtype="String" style="width: 50px" name="system.bakgrund.vikt" value="{{data.system.bakgrund.vikt}}" />
                        <span class="floating-label">{{localize "eon.sheets.actor.vikt"}}</span>
                    </div>
                </div>

            </div>

            <div class="bio">
                <div class="floating-label-group">
                    <select class="text-value editable" name="system.strid.vapenarm" id="system.strid.vapenarm" style="width: 300px">
                        {{selectOptions listData.vapenArm selected=actor.system.strid.vapenarm localize=true}}                                        
                    </select>
                    <span class="floating-label">{{localize "eon.sheets.actor.vapenarm"}}</span>
                </div>
            </div>

            <div class="bio item-row">

                <div>
                    <div class="floating-label-group">
                        <input class="text-value editable" type="text" data-dtype="String" style="width: 148px" name="system.bakgrund.folkslag" value="{{data.system.bakgrund.folkslag}}" />
                        <span class="floating-label">{{localize "eon.sheets.actor.folkslag"}}</span>
                    </div>
                </div>

                <div>
                    <div class="floating-label-group">
                        <input class="text-value editable" type="text" data-dtype="String" style="width: 148px" name="system.bakgrund.kulturfolkslag" value="{{data.system.bakgrund.kulturfolkslag}}" />
                        <span class="floating-label">{{localize "eon.sheets.actor.kulturfolkslag"}}</span>
                    </div>
                </div>

            </div>

            <div class="bio">
                <div class="floating-label-group">
                    <input class="text-value editable" type="text" data-dtype="String" style="width: 300px" name="system.bakgrund.religion" value="{{data.system.bakgrund.religion}}" />
                    <span class="floating-label">{{localize "eon.sheets.actor.religion"}}</span>
                </div>
            </div>
            <div class="bio">
                <div class="floating-label-group">
                    <input class="text-value editable" type="text" data-dtype="String" style="width: 300px" name="system.bakgrund.doktriner" value="{{data.system.bakgrund.doktriner}}" />
                    <span class="floating-label">{{localize "eon.sheets.actor.doktriner"}}</span>
                </div>
            </div>

            <div class="bio item-row">

                <div>
                    <div class="floating-label-group">
                        <input class="text-value editable" type="text" data-dtype="String" style="width: 148px" name="system.bakgrund.hemland" value="{{data.system.bakgrund.hemland}}" />
                        <span class="floating-label">{{localize "eon.sheets.actor.hemland"}}</span>
                    </div>
                </div>
                <div>
                    <div class="floating-label-group">
                        <input class="text-value editable" type="text" data-dtype="String" style="width: 148px" name="system.bakgrund.hemort" value="{{data.system.bakgrund.hemort}}" />
                        <span class="floating-label">{{localize "eon.sheets.actor.hemort"}}</span>
                    </div>
                </div>  
            </div>

            <div class="bio item-row">

                <div>
                    <div class="floating-label-group">
                        <input class="text-value editable" type="text" data-dtype="String" style="width: 98px" name="system.bakgrund.arketyp" value="{{data.system.bakgrund.arketyp}}" />
                        <span class="floating-label">{{localize "eon.sheets.actor.arketyp"}}</span>
                    </div>
                </div>

                <div>
                    <div class="floating-label-group">
                        <input class="text-value editable" type="text" data-dtype="String" style="width: 98px" name="system.bakgrund.varv" value="{{data.system.bakgrund.varv}}" />
                        <span class="floating-label">{{localize "eon.sheets.actor.varv"}}</span>
                    </div>
                </div>

                <div>
                    <div class="floating-label-group">
                        <input class="text-value editable" type="text" name="system.bakgrund.sysselsattning" value="{{data.system.bakgrund.sysselsattning}}" data-dtype="String" style="width: 98px" />
                        <span class="floating-label">{{localize "eon.sheets.actor.sysselsattning"}}</span>
                    </div>
                </div>

            </div>

            <div class="bio item-row">

                <div>
                    <div class="floating-label-group">
                        <input class="text-value editable" type="text" data-dtype="String" style="width: 148px" name="system.bakgrund.miljo" value="{{data.system.bakgrund.miljo}}" />
                        <span class="floating-label">{{localize "eon.sheets.actor.miljo"}}</span>
                    </div>
                </div>
                <div>
                    <div class="floating-label-group">
                        <input class="text-value editable" type="text" data-dtype="String" style="width: 148px" name="system.bakgrund.levnadsstandard" value="{{data.system.bakgrund.levnadsstandard}}" />
                        <span class="floating-label">{{localize "eon.sheets.actor.levnadsstandard"}}</span>
                    </div>
                </div>

            </div>

            
            
        </div>
    </div>

{{/if}}

{{> "systems/eon-rpg/templates/actors/parts/rollperson-sheet-trait.html"}}

{{#if (isEon5 actor)}}

    <div class="headline headline-background item-row">
        <div class="weapon-icon pointer">
            <a class="eon-sheet-handelse-add" title="{{localize 'eon.sheets.actor.handelseLaggTill'}}">
                <i class="fa-solid fa-square-plus green"></i>
            </a>
        </div>
        <div class="large-headline">{{localize "eon.wizard.handelseResultatRubrik"}} ({{handelseCount}})</div>
    </div>

    {{#unless handelseCount}}
        <div class="information-area information-box eon-handelse-tom">{{localize "eon.sheets.actor.handelseTom"}}</div>
    {{/unless}}

    {{#each handelseGrupper as |grupp|}}
        <div class="eon-handelse-grupp">
            <div class="eon-handelse-grupp__rubrik">{{grupp.label}}</div>
            {{#each grupp.rows as |rad|}}
                <div class="eon-handelse-rad bio item-row">
                    <div class="eon-handelse-rad__primary">
                        <div class="weapon-icon">
                            <a class="pointer red eon-sheet-handelse-remove" title="{{localize 'eon.wizard.handelseTaBortRad'}}" data-index="{{rad.index}}"><i class="icon fa-solid fa-trash-can"></i></a>
                        </div>
                        <div class="floating-label-group eon-handelse-rad__tabell">
                            <select class="text-value editable" name="system.handelseresultat.{{rad.index}}.tabell" data-dtype="String">
                                <option value="">{{localize "eon.wizard.handelseTabellValj"}}</option>
                                {{selectOptions ../../handelseTabellOptions selected=rad.tabell localize=true}}
                            </select>
                            <span class="floating-label">{{localize "eon.sheets.actor.handelseTabell"}}</span>
                        </div>
                        <div class="floating-label-group eon-handelse-rad__nummer">
                            <input class="text-value editable" type="text" data-dtype="String" name="system.handelseresultat.{{rad.index}}.nummer" value="{{rad.nummer}}" />
                            <span class="floating-label">{{localize "eon.wizard.handelseResultatNummer"}}</span>
                        </div>
                    </div>
                    <details class="eon-handelse-rad__detalj">
                        <summary class="eon-handelse-rad__summary">
                            {{#if rad.anteckningPreview}}
                                <span class="eon-handelse-rad__preview">{{rad.anteckningPreview}}</span>
                            {{else}}
                                <span class="eon-handelse-rad__preview eon-handelse-rad__preview--tom">{{localize "eon.sheets.actor.handelseVisaAnteckning"}}</span>
                            {{/if}}
                        </summary>
                        <div class="floating-label-group eon-handelse-rad__anteckning">
                            <textarea class="text-value editable" data-dtype="String" name="system.handelseresultat.{{rad.index}}.anteckning" rows="3">{{rad.anteckning}}</textarea>
                            <span class="floating-label">{{localize "eon.sheets.actor.anteckning"}}</span>
                        </div>
                    </details>
                </div>
            {{/each}}
        </div>
    {{/each}}

    <div class="headline headline-background item-row">
        <div class="weapon-icon pointer">
            <a class="eon-sheet-kontakt-add" title="{{localize 'eon.wizard.kretsLaggTill'}}" data-list="kretsar">
                <i class="fa-solid fa-square-plus green"></i>
            </a>
        </div>
        <div class="large-headline">{{localize "eon.wizard.kretsarRubrik"}} ({{kretsCount}})</div>
    </div>

    {{#each data.system.kretsar}}

        <div class="bio item-row" style="display: flex; flex-wrap: wrap; gap: 0.5rem; align-items: flex-end; width: 100%; max-width: 640px;">
            <div class="weapon-icon" style="flex: 0 0 auto; align-self: flex-end; padding-bottom: 2px;">
                <a class="pointer red eon-sheet-kontakt-remove" title="{{localize 'eon.wizard.fardighetTaBortRad'}}" data-list="kretsar" data-index="{{@index}}"><i class="icon fa-solid fa-trash-can"></i></a>
            </div>
            <div class="floating-label-group" style="flex: 1 1 200px; min-width: 160px;">
                <input class="text-value editable" type="text" data-dtype="String" name="system.kretsar.{{@index}}.namn" value="{{this.namn}}" style="width: 100%; box-sizing: border-box;" />
                <span class="floating-label">{{localize "eon.sheets.actor.namn"}}</span>
            </div>
            <div class="floating-label-group" style="flex: 2 1 280px; min-width: 200px;">
                <input class="text-value editable" type="text" data-dtype="String" name="system.kretsar.{{@index}}.anteckning" value="{{this.anteckning}}" style="width: 100%; box-sizing: border-box;" />
                <span class="floating-label">{{localize "eon.sheets.actor.anteckning"}}</span>
            </div>
        </div>

    {{/each}}
    
    <div class="large-headline">{{localize "eon.sheets.actor.relationer"}}</div>
    <div class="editor-box">
        {{editor enrichedRelationer target="system.bakgrund.relationer" button=true owner=owner editable=true}}
    </div>

    <div class="large-headline">{{localize "eon.sheets.actor.utseende"}}</div>
    <div class="editor-box">
        {{editor enrichedUtseende target="system.bakgrund.utseende" button=true owner=owner editable=true}}
    </div>

    
{{/if}}

<div class="large-headline">{{localize "eon.sheets.actor.anteckningar"}}</div>
<div class="editor-box">
    {{editor enrichedBeskrivning target="system.bakgrund.beskrivning" button=true owner=owner editable=true}}
</div>