<div class="remaining-width pullLeft">
    <div>
        <div class="three-column pullLeft">
            <div class="headline">
                <div class="attribute-area">Grundattribut</div>
            </div>

            {{#each EON.CONFIG.grundegenskaper as |attribute key|}}            
                <div class="attribute clear">
                    <div class="vrollable pullLeft caption" data-source="attribute" data-type="grundegenskaper" data-key="{{key}}">{{attribute.namn}}</div>
                    <div class="pullLeft dice-value">{{getDiceValue (getActorAttribute ../data "grundegenskaper" key)}}</div>
                    <div class="pullLeft skill-icon"><a class="item-edit" title="Editera grundattribut" data-type="attribute" data-source="grundegenskaper" data-attribute="{{key}}"><i class="icon fa-solid fa-pen-to-square"></i></a></div>
                </div>
            {{/each}}

        </div>
        <div class="three-column pullLeft">
            <div class="headline">
                <div class="attribute-area">Härledda attribut</div>
            </div>
            <div class="attribute clear">
                <div class="vrollable pullLeft caption" data-source="attribute" data-type="harleddegenskaper" data-key="forflyttning">{{EON.CONFIG.harleddegenskaper.forflyttning.namn}}</div>
                <div class="pullLeft dice-value">{{getDiceValue (getActorAttribute data 'harleddegenskaper' 'forflyttning')}}</div>
                <div class="pullLeft skill-icon"><a class="item-edit" title="Editera {{EON.CONFIG.harleddegenskaper.forflyttning.namn}}" data-type="attribute" data-source="harleddegenskaper" data-attribute="forflyttning"><i class="icon fa-solid fa-pen-to-square"></i></a></div>
            </div>
            <div class="attribute clear">
                <div class="vrollable pullLeft caption" data-source="attribute" data-type="harleddegenskaper" data-key="intryck">{{EON.CONFIG.harleddegenskaper.intryck.namn}}</div>
                <div class="pullLeft dice-value">{{getDiceValue (getActorAttribute data 'harleddegenskaper' 'intryck')}}</div>
                <div class="pullLeft skill-icon"><a class="item-edit" title="Editera {{EON.CONFIG.harleddegenskaper.intryck.namn}}" data-type="attribute" data-source="harleddegenskaper" data-attribute="intryck"><i class="icon fa-solid fa-pen-to-square"></i></a></div>
            </div>
            <div class="attribute clear">
                <div class="vrollable pullLeft caption" data-source="attribute" data-type="harleddegenskaper" data-key="kroppsbyggnad">{{EON.CONFIG.harleddegenskaper.kroppsbyggnad.namn}}</div>
                <div class="pullLeft dice-value">{{getDiceValue (getActorAttribute data 'harleddegenskaper' 'kroppsbyggnad')}}</div>
                <div class="pullLeft skill-icon"><a class="item-edit" title="Editera {{EON.CONFIG.harleddegenskaper.kroppsbyggnad.namn}}" data-type="attribute" data-source="harleddegenskaper" data-attribute="kroppsbyggnad"><i class="icon fa-solid fa-pen-to-square"></i></a></div>
            </div>
            <div class="attribute clear">
                <div class="vrollable pullLeft caption" data-source="attribute" data-type="harleddegenskaper" data-key="reaktion">{{EON.CONFIG.harleddegenskaper.reaktion.namn}}</div>
                <div class="pullLeft dice-value">{{getDiceValue (getActorAttribute data 'harleddegenskaper' 'reaktion')}}</div>
                <div class="pullLeft skill-icon"><a class="item-edit" title="Editera {{EON.CONFIG.harleddegenskaper.reaktion.namn}}" data-type="attribute" data-source="harleddegenskaper" data-attribute="reaktion"><i class="icon fa-solid fa-pen-to-square"></i></a></div>
            </div>
            <div class="attribute clear">
                <div class="vrollable pullLeft caption" data-source="attribute" data-type="harleddegenskaper" data-key="sjalvkontroll">{{EON.CONFIG.harleddegenskaper.sjalvkontroll.namn}}</div>
                <div class="pullLeft dice-value">{{getDiceValue (getActorAttribute data 'harleddegenskaper' 'sjalvkontroll')}}</div>
                <div class="pullLeft skill-icon"><a class="item-edit" title="Editera {{EON.CONFIG.harleddegenskaper.sjalvkontroll.namn}}" data-type="attribute" data-source="harleddegenskaper" data-attribute="sjalvkontroll"><i class="icon fa-solid fa-pen-to-square"></i></a></div>
            </div>
            <div class="attribute clear">
                <div class="vrollable pullLeft caption" data-source="attribute" data-type="harleddegenskaper" data-key="vaksamhet">{{EON.CONFIG.harleddegenskaper.vaksamhet.namn}}</div>
                <div class="pullLeft dice-value">{{getDiceValue (getActorAttribute data 'harleddegenskaper' 'vaksamhet')}}</div>
                <div class="pullLeft skill-icon"><a class="item-edit" title="Editera {{EON.CONFIG.harleddegenskaper.vaksamhet.namn}}" data-type="attribute" data-source="harleddegenskaper" data-attribute="vaksamhet"><i class="icon fa-solid fa-pen-to-square"></i></a></div>
            </div>
            <div class="attribute clear">
                <div class="vrollable pullLeft caption" data-source="attribute" data-type="harleddegenskaper" data-key="livskraft">{{EON.CONFIG.harleddegenskaper.livskraft.namn}}</div>
                <div class="pullLeft dice-value">{{getDiceValue (getActorAttribute data 'harleddegenskaper' 'livskraft')}}</div>
                <div class="pullLeft skill-icon"><a class="item-edit" title="Editera {{EON.CONFIG.harleddegenskaper.livskraft.namn}}" data-type="attribute" data-source="harleddegenskaper" data-attribute="livskraft"><i class="icon fa-solid fa-pen-to-square"></i></a></div>
            </div>            
        </div>  

        <div class="three-column pullLeft">            
            <div class="headline">
                <div class="attribute-area">Focus</div>
            </div>
            <div id="fokus_dots" class="resource-circle" data-value="{{actor.system.egenskap.fokus.varde}}" data-name="egenskap">
                {{#numFromLoop 1 10}}
                    <span class="resource-value" data-index="{{this}}" data-type="fokus" data-value="varde"></span>
                {{/numFromLoop}}
            </div>
            <div class="clear">
                <div class="pullLeft number-value-text floating-label-group">
                    <input id="fokus_varde" name="system.egenskap.fokus.max" class="attribute-value editable inputdata skill-label skill-value" type="text" value="{{actor.system.egenskap.fokus.max}}" data-dtype="Number" data-source="valmaende" data-value="{{actor.system.egenskap.fokus.varde}}" />
                    <span class="floating-label">Välmående</span>
                </div>
            </div>
            <div class="headline">
                <div class="attribute-area">Avtrubbning</div>
            </div>
            <div class="avtrubbning-column">
                <div class="clear">
                    <div class="pullLeft caption">Utsatthet</div>
                    <div class="resource-box pullLeft" data-value="{{actor.system.egenskap.avtrubbning.utsatthet}}" data-name="egenskap">
                        {{#numFromLoop 1 5}}
                            <span class="resource-value" data-index="{{this}}" data-type="avtrubbning" data-value="utsatthet"></span>
                        {{/numFromLoop}}
                    </div>
                </div>
                <div class="clear">
                    <div class="pullLeft caption">Våld</div>
                    <div class="resource-box pullLeft" data-value="{{actor.system.egenskap.avtrubbning.vald}}" data-name="egenskap">
                        {{#numFromLoop 1 5}}
                            <span class="resource-value" data-index="{{this}}" data-type="avtrubbning" data-value="vald"></span>
                        {{/numFromLoop}}
                    </div>
                </div>
                <div class="clear">
                    <div class="pullLeft caption">Övernaturligt</div>
                    <div class="resource-box pullLeft" data-value="{{actor.system.egenskap.avtrubbning.overnaturligt}}" data-name="egenskap">
                        {{#numFromLoop 1 5}}
                            <span class="resource-value" data-index="{{this}}" data-type="avtrubbning" data-value="overnaturligt"></span>
                        {{/numFromLoop}}
                    </div>
                </div>
                <div class="clear sheet-box">
                    <div class="pullLeft caption">&nbsp;</div>
                    <div class="smalltext pullLeft number-value-text">
                        <div class="pullLeft resource-box-text">+5</div>
                        <div class="pullLeft resource-box-text">+10</div>
                        <div class="pullLeft resource-box-text">+15</div>
                        <div class="pullLeft resource-box-text">+20</div>
                        <div class="pullLeft resource-box-text">+25</div>
                    </div>
                </div>
            </div>
            <div class="headline">
                <div class="attribute-area">Utmattning</div>
            </div>
            <div class="clear">
                <div class="pullLeft number-value-text floating-label-group">
                    <input class="attribute-value skill-label" type="text" value="{{actor.system.skada.utmattning.grund}}" disabled readonly />
                    <span class="floating-label">Grund</span>
                </div>
                <div class="pullLeft number-value-text floating-label-group">
                    <input class="attribute-value editable skill-label skill-value" name="system.skada.utmattning.varde" type="text" value="{{actor.system.skada.utmattning.varde}}" data-dtype="Number" />
                    <span class="floating-label">Värde</span>
                </div>
            </div> 
        </div>
    </div>
</div>

<div class="image-column pullRight">
    <img class="profile-img pointer" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
    <div class="centerText">ROLLPERSON</div>
    <!-- <div><i id="unlockSheet" class="lock-icon fa fa-unlock"></i></div> -->
    <div>
        <img class="pullLeft macroBtn pointer" src="{{EON.CONFIG.ikoner.slag_chock}}" data-source="attribute" data-type="harleddegenskaper" data-key="livskraft" data-title="Chockslag" title="Chockslag">
        <img class="pullLeft macroBtn pointer" src="{{EON.CONFIG.ikoner.slag_dod}}" data-source="attribute" data-type="harleddegenskaper" data-key="livskraft" data-title="Dödsslag" title="Dödsslag">
    </div>
</div>
<!-- 
<div>
    <img class="macroBtn pointer" src="{{EON.CONFIG.ikoner.slag_initiative}}" data-source="initiative" title="Initiativ">
</div> -->