<div class="skill-area">
    {{#each EON.CONFIG.fardighetgrupper as |grupp key|}}
        <div class="skill-headline skill clear">
            <div class="pullLeft skill-headline headline">{{grupp}}</div>
            <div class="pullLeft"><input name="system.fardigheter.{{key}}.erf" class="skill-value" type="number" value="{{getActorSkillGroupExp ../actor.system.fardigheter key}}" min="0" max="50"></div>
            {{#if (eqAny key "mystik" "sprak" "ovriga")}}
                <div class="pullLeft"><i class="fa-solid fa-square-plus green"></i></div>
            {{/if}}
        </div>
        {{#each (getActorSkillGroup ../actor.system.listdata.fardigheter key) as |fardighet key|}}
            <div class="skill clear">
                <div class="pullLeft tic-container">
                    {{#if (eq fardighet.system.svarighet "L")}}
                        <div class="tic"><i class="fa-solid fa-sort-up green"></i></div>
                    {{/if}}
                    {{#if (eq fardighet.system.svarighet "S")}}
                        <div class="tic"><i class="fa-solid fa-sort-down red"></i></div>
                    {{/if}}
                    {{#if (eq fardighet.system.svarighet "N")}}
                        <div class="tic">&nbsp;</div>
                    {{/if}}
                </div>
                <div class="pullLeft caption">{{fardighet.name}}</div>                
                <div class="pullLeft attribute-value">
                    <!-- <div class="pullLeft tic-container">
                        <div class="tic"><i class="fa-solid fa-sort-up tic-top"></i></div>
                        <div class="tic"><i class="fa-solid fa-sort-down tic-down"></i></div>
                    </div> -->
                    <div class="pullLeft">
                        <input class="skill-value" type="text" value="{{getDiceValue fardighet.system.varde}}" readonly data-type="fardigheter" data-group="{{fardighet.system.grupp}}" data-source="{{fardighet.name}}">
                    </div>
                    <!-- <div class="pullLeft tic-container">
                        <div class="tic"><i class="fa-solid fa-sort-up tic-top"></i></div>
                        <div class="tic"><i class="fa-solid fa-sort-down tic-down"></i></div>
                    </div> -->
                </div>
                <div class="pullLeft skill-short">({{getAttributeShortName fardighet.system.attribut}})</div>
            </div>
        {{/each}}
    {{/each}}
</div>


