<div class="armor-area">
    {{#if EON.CONFIG.settings.bookCombat}}
        <div class="item-row">
            <div>
                <div class="item-row headline">
                    <div style="width: 100px;">Delområde</div>
                    <div style="width: 50px;">Kod</div>
                    <div style="width: 125px;">Material</div>
                    <div class="centerText" style="width: 50px;"><img src="{{EON.CONFIG.ikoner.skada_hugg}}" class="item img-icon" title="Hugg" /></div>
                    <div class="centerText" style="width: 50px;"><img src="{{EON.CONFIG.ikoner.skada_kross}}" class="item img-icon" title="Kross" /></div>
                    <div class="centerText" style="width: 50px;"><img src="{{EON.CONFIG.ikoner.skada_stick}}" class="item img-icon" title="Stick" /></div>
                    <div>Egenskaper</div>
                </div>
                
                {{#numFromLoop 1 26}}
                    <div class="item-row">
                        <div style="width: 100px;">{{getBodypart this}}</div>
                        <div class="weapon-value" style="width: 50px;">{{this}}</div>
                    </div>
                {{/numFromLoop}}
            </div>
            <img src="systems/eon-rpg/assets/traffomrade.png" style="height:300px;" />
        </div>
    {{else}}
        <div class="item-row">
            <div>
                <div class="item-row headline">
                    <div style="width: 100px;">Delområde</div>
                    <div style="width: 125px;">Material</div>
                    <div class="centerText" style="width: 50px;"><img src="{{EON.CONFIG.ikoner.skada_hugg}}" class="item img-icon" title="Hugg" /></div>
                    <div class="centerText" style="width: 50px;"><img src="{{EON.CONFIG.ikoner.skada_kross}}" class="item img-icon" title="Kross" /></div>
                    <div class="centerText" style="width: 50px;"><img src="{{EON.CONFIG.ikoner.skada_stick}}" class="item img-icon" title="Stick" /></div>
                </div>

                {{#each actor.system.listdata.kroppsdelar as |rustning key|}}
                    <div class="item-row" style="line-height: 25px; width:100%;">
                        <div style="width: 100px;">{{rustning.namn}}</div>
                        <div style="width: 125px;">{{#if (ne rustning.material "")}}{{getArmorType rustning.material}}{{else}}&nbsp;{{/if}}</div>
                        <div class="centerText  " style="width: 50px;">           
                            {{sum 
                                rustning.hugg 
                                ../actor.system.harleddegenskaper.grundrustning.totalt
                            }}
                        </div>
                        <div class="centerText  " style="width: 50px;">
                            {{sum 
                                rustning.kross 
                                ../actor.system.harleddegenskaper.grundrustning.totalt
                            }}
                        </div>
                        <div class="centerText  " style="width: 50px;">
                            {{sum 
                                rustning.stick 
                                ../actor.system.harleddegenskaper.grundrustning.totalt
                            }}
                        </div>
                    </div>                    
                {{/each}}
            </div>
        </div>
    {{/if}}
</div>

<div class="item-box">
    <div class="headline headline-background item-row">
        <div class="weapon-icon pointer">
            <a class="item-create" title="Lägg till rustning" data-type="rustning">
                <i class="fa-solid fa-square-plus green"></i>
            </a>
        </div>
        <div style="width: 175px;">Rustning</div>
        <div style="width: 100px;">Belastning</div>      
        <div>Delområde</div> 
    </div>

    {{#each actor.system.listdata.utrustning.rustning as | rustning key|}}
        <div class="item-row" style="line-height: 25px; width:100%;">
            <div class="weapon-icon"><a class="item-edit" title="Editera rustning" data-source="armor" data-itemid="{{rustning._id}}"><i class="icon fa-solid fa-pen-to-square"></i></a></div>
            {{#if (eq rustning.system.beskrivning "")}}
                <div class="weapon-icon"><i class="icon fa-regular fa-share"></i></div>
            {{else}}
                <div class="weapon-icon"><a class="item-send" title="Skicka beskrivning" data-source="description" data-itemid="{{rustning._id}}"><i class="icon fa-solid fa-share"></i></a></div>
            {{/if}}
            <div class="active-icon"><input class="pointer item-active" name="rustning.system.installningar.buren" type="checkbox" data-itemid="{{rustning._id}}" data-property="buren" {{isChecked rustning.system.installningar.buren}} /></div>
            <div style="width: 125px;">{{rustning.name}}</div>
            <div class="centerText  " style="width: 100px;">{{rustning.system.belastning}}</div>
            <div>{{rustning.system.tacker}}</div>
        </div>                    
    {{/each}}
</div>