<nav class="sheet-mystic-tabs tabs headlineTabs" data-group="secondary">
    <a data-tab="magic">MAGI</a>
    <a data-tab="religion">RELIGION</a>
</nav>

<section class="sheet-mystic-body">

    <div class="tab magic" data-group="secondary" data-tab="magic">
        {{> "systems/eon-rpg/templates/actors/parts/rollperson-sheet-magic.html"}}
    </div>

    <div class="tab religion" data-group="secondary" data-tab="religion">
        {{> "systems/eon-rpg/templates/actors/parts/rollperson-sheet-religion.html"}}
    </div>

</section>