<div class="clear headline">
    <div class="pullLeft attribute-area">Karaktärsdrag<i class="pullRight fa-solid fa-square-plus green"></i></div>        
</div>

<div class="clear">
    <div class="pullLeft two-column">

        <div class="clear">
            <div class="pullLeft caption">Primärt</div>
            <div class="pullLeft attribute-value">
                <select>
                    <option>- Välj -</option>
                    {{#each EON.karaktarsdrag as |karaktarsdrag key|}}
                        <option value="{{key}}">{{karaktarsdrag.namn}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="clear">
            <div class="pullLeft">
                <div class="pullLeft">Nivå 1</div>
                <div class="resource-box pullLeft" data-value="" data-name="">
                    <span class="resource-value" data-index="0" data-type="" data-value=""></span>
                </div>
            </div>
            <div class="pullLeft"><input class="attribute-value" type="text"></div>
        </div>
        <div class="clear">
            <div class="pullLeft">
                <div class="pullLeft">Nivå 2</div>
                <div class="resource-box pullLeft" data-value="" data-name="">
                    <span class="resource-value" data-index="0" data-type="" data-value=""></span>
                </div>
            </div>
            <div class="pullLeft"><input class="attribute-value" type="text"></div>
        </div>
        <div class="clear">
            <div class="pullLeft">
                <div class="pullLeft">Nivå 3</div>
                <div class="resource-box pullLeft" data-value="" data-name="">
                    <span class="resource-value" data-index="0" data-type="" data-value=""></span>
                </div>
            </div>
            <div class="pullLeft"><input class="attribute-value" type="text"></div>
        </div>
        <div class="clear">
            <div class="pullLeft">
                <div class="pullLeft">Låst</div>
                <div class="resource-box pullLeft" data-value="" data-name="">
                    <span class="resource-value" data-index="0" data-type="" data-value=""></span>
                </div>
            </div>
            <div class="pullLeft">
                <div class="pullLeft">Svaghet</div>
                <div class="resource-box pullLeft" data-value="" data-name="">
                    <span class="resource-value" data-index="0" data-type="" data-value=""></span>
                </div>
            </div>
            <div class="pullLeft">
                <div class="pullLeft">Tvivel</div>
                <div class="resource-box pullLeft" data-value="" data-name="">
                    <span class="resource-value" data-index="0" data-type="" data-value=""></span>
                </div>
            </div>
        </div>

    </div>

    <div class="pullLeft two-column">

        <div class="clear">
            <div class="pullLeft caption">Sekundärt</div>
            <div class="pullLeft attribute-value">
                <select>
                    <option>- Välj -</option>
                    {{#each EON.karaktarsdrag as |karaktarsdrag key|}}
                        <option value="{{key}}">{{karaktarsdrag.namn}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="clear">
            <div class="pullLeft">
                <div class="pullLeft">Nivå 1</div>
                <div class="resource-box pullLeft" data-value="" data-name="">
                    <span class="resource-value" data-index="0" data-type="" data-value=""></span>
                </div>
            </div>
            <div class="pullLeft"><input class="attribute-value" type="text"></div>
        </div>
        <div class="clear">
            <div class="pullLeft">
                <div class="pullLeft">Nivå 2</div>
                <div class="resource-box pullLeft" data-value="" data-name="">
                    <span class="resource-value" data-index="0" data-type="" data-value=""></span>
                </div>
            </div>
            <div class="pullLeft"><input class="attribute-value" type="text"></div>
        </div>
        <div class="clear">
            <div class="pullLeft">
                <div class="pullLeft">Nivå 3</div>
                <div class="resource-box pullLeft" data-value="" data-name="">
                    <span class="resource-value" data-index="0" data-type="" data-value=""></span>
                </div>
            </div>
            <div class="pullLeft"><input class="attribute-value" type="text"></div>
        </div>
        <div class="clear">
            <div class="pullLeft">
                <div class="pullLeft">Låst</div>
                <div class="resource-box pullLeft" data-value="" data-name="">
                    <span class="resource-value" data-index="0" data-type="" data-value=""></span>
                </div>
            </div>
            <div class="pullLeft">
                <div class="pullLeft">Svaghet</div>
                <div class="resource-box pullLeft" data-value="" data-name="">
                    <span class="resource-value" data-index="0" data-type="" data-value=""></span>
                </div>
            </div>
            <div class="pullLeft">
                <div class="pullLeft">Tvivel</div>
                <div class="resource-box pullLeft" data-value="" data-name="">
                    <span class="resource-value" data-index="0" data-type="" data-value=""></span>
                </div>
            </div>
        </div>

    </div>
</div>