<div class="remaining-width pullLeft">
    <div>
        <div class="headline">
            <div class="clear attribute-area">
                <div class="pullLeft large-main-headline">{{actor.name}}</div>
            </div>
        </div>

        <div class="three-column pullLeft">
            <div class="headline">
                <div class="attribute-area">Grundattribut</div>
            </div>

            {{#each EON.CONFIG.grundegenskaper as |attribute key|}}            
                <div class="clear">
                    <div class="pullLeft caption">{{attribute.namn}}</div>
                    <div class="pullLeft attribute-value">
                        <div class="pullLeft">
                            <input class="attribute-value" type="text" value="{{getDiceValue (getActorAttribute ../data key)}}" readonly />
                        </div>
                    </div>
                </div>
            {{/each}}

        </div>
        <div class="three-column pullLeft">
            <div class="headline">
                <div class="attribute-area">Härledda attribut</div>
            </div>
            <div class="clear">
                <div class="pullLeft caption">Förflyttning</div>
                <div class="pullLeft attribute-value"><input class="attribute-value" type="text" value="{{getDiceValue data.system.harleddegenskaper.forflyttning}}" readonly /></div>
            </div>
            <div class="clear">
                <div class="pullLeft caption">Intryck</div>
                <div class="pullLeft attribute-value"><input class="attribute-value" type="text" value="{{getDiceValue data.system.harleddegenskaper.intryck}}" readonly /></div>
            </div>
            <div class="clear">
                <div class="pullLeft caption">Kroppsbyggnad</div>
                <div class="pullLeft attribute-value"><input class="attribute-value" type="text" value="{{getDiceValue data.system.harleddegenskaper.kroppsbyggnad}}" readonly /></div>
            </div>
            <div class="clear">
                <div class="pullLeft caption">Reaktion</div>
                <div class="pullLeft attribute-value"><input class="attribute-value" type="text" value="{{getDiceValue data.system.harleddegenskaper.reaktion}}" readonly /></div>
            </div>
            <div class="clear">
                <div class="pullLeft caption">Självkontroll</div>
                <div class="pullLeft attribute-value"><input class="attribute-value" type="text" value="{{getDiceValue data.system.harleddegenskaper.sjalvkontroll}}" readonly /></div>
            </div>
            <div class="clear">
                <div class="pullLeft caption">Vaksamhet</div>
                <div class="pullLeft attribute-value"><input class="attribute-value" type="text" value="{{getDiceValue data.system.harleddegenskaper.vaksamhet}}" readonly /></div>
            </div>
            <div class="clear">
                <div class="pullLeft caption">Livskraft</div>
                <div class="pullLeft attribute-value"><input class="attribute-value" type="text" value="{{getDiceValue data.system.harleddegenskaper.livskraft}}" readonly /></div>
            </div>            
        </div>  

        <div class="three-column pullLeft">            
            <div class="headline">
                <div class="attribute-area">Focus</div>
            </div>
            <div id="fokus_dots" class="resource-circle" data-value="{{actor.system.egenskap.fokus.varde}}" data-name="egenskap">
                {{#numFromLoop 1 10}}
                    <span class="resource-value" data-index="{{this}}" data-type="fokus" data-value="varde"></span>
                {{/numFromLoop}}
            </div>
            <div class="clear">
                <div class="pullLeft caption">Välmående</div>
                <div class="pullLeft attribute-value"><input id="fokus_varde" name="system.egenskap.fokus.max" class="attribute-value inputdata" type="number" value="{{actor.system.egenskap.fokus.max}}" min="0" max="10" data-source="valmaende" data-value="{{actor.system.egenskap.fokus.varde}}" /></div>
            </div>
            <div class="headline">
                <div class="attribute-area">Avtrubbning</div>
            </div>
            <div class="avtrubbning-column">
                <div class="clear">
                    <div class="pullLeft caption">Utsatthet</div>
                    <div class="resource-box pullLeft" data-value="{{actor.system.egenskap.avtrubbning.utsatthet}}" data-name="egenskap">
                        {{#numFromLoop 1 5}}
                            <span class="resource-value" data-index="{{this}}" data-type="avtrubbning" data-value="utsatthet"></span>
                        {{/numFromLoop}}
                    </div>
                </div>
                <div class="clear">
                    <div class="pullLeft caption">Våld</div>
                    <div class="resource-box pullLeft" data-value="{{actor.system.egenskap.avtrubbning.vald}}" data-name="egenskap">
                        {{#numFromLoop 1 5}}
                            <span class="resource-value" data-index="{{this}}" data-type="avtrubbning" data-value="vald"></span>
                        {{/numFromLoop}}
                    </div>
                </div>
                <div class="clear">
                    <div class="pullLeft caption">Övernaturligt</div>
                    <div class="resource-box pullLeft" data-value="{{actor.system.egenskap.avtrubbning.overnaturligt}}" data-name="egenskap">
                        {{#numFromLoop 1 5}}
                            <span class="resource-value" data-index="{{this}}" data-type="avtrubbning" data-value="overnaturligt"></span>
                        {{/numFromLoop}}
                    </div>
                </div>
                <div class="clear sheet-box">
                    <div class="pullLeft caption">&nbsp;</div>
                    <div class="smalltext pullLeft number-value-text">
                        <div class="pullLeft resource-box-text">+5</div>
                        <div class="pullLeft resource-box-text">+10</div>
                        <div class="pullLeft resource-box-text">+15</div>
                        <div class="pullLeft resource-box-text">+20</div>
                        <div class="pullLeft resource-box-text">+25</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="image-column pullRight">
    <img class="profile-img pointer" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
    <div><button>ROLLPERSON</button></div>
    <div><i id="unlockSheet" class="lock-icon fa fa-unlock"></i></div>
</div>

