<div class="item-box">
    <!-- <div class="clear">
        <div class="pullLeft large-headline">Närstridsvapen</div>
        <div class="pullLeft pointer">
            <a class="item-create" title="Lägg till vapen" data-type="närstridsvapen">
                <i class="fa-solid fa-square-plus green"></i>
            </a>
        </div>
    </div> -->

    <div class="headline headline-background item-row">
        <div class="weapon-icon pointer">
            <a class="item-create" title="Lägg till vapen" data-type="närstridsvapen">
                <i class="fa-solid fa-square-plus green"></i>
            </a>
        </div>
        <div style="width: 175px;">Närstridsvapen</div>
        <!-- <div class="centerText" style="width: 75px;">Färdighet</div>
        <div class="centerText" style="width: 45px;">1H</div>
        <div class="centerText" style="width: 45px;">2H</div> -->
        <div class="centerText" style="width: 50px;">Hugg</div>
        <div class="centerText" style="width: 50px;">Kross</div>
        <div class="centerText" style="width: 50px;">Stick</div>
        <!-- <div class="centerText" style="width: 60px;">Längd</div> -->
        <div class="centerText" style="width: 50px;">Vikt</div>
        <div>Egenskaper</div>
    </div>

    {{#each actor.system.listdata.utrustning.vapen.narstrid as |vapen key|}}
        <div class="item-row" style="line-height: 25px; width:100%;">
            <div class="weapon-icon"><a class="item-edit" title="Editera vapen" data-source="weapon" data-itemid="{{vapen._id}}"><i class="icon fa-solid fa-pen-to-square"></i></a></div>
            {{#if (eq vapen.system.beskrivning "")}}
                <div class="weapon-icon"><i class="icon fa-regular fa-share"></i></div>
            {{else}}
                <div class="weapon-icon"><a class="item-send" title="Skicka beskrivning" data-source="description" data-itemid="{{vapen._id}}"><i class="icon fa-solid fa-share"></i></a></div>
            {{/if}}
            <div class="active-icon"><input class="pointer item-active" title="Bära vapen" name="vapen.system.installningar.buren" type="checkbox" data-itemid="{{vapen._id}}" data-property="buren" {{isChecked vapen.system.installningar.buren}} /></div>
            <div class="vrollable" style="width: 125px;" data-source="weapon" data-itemid="{{vapen._id}}">{{vapen.name}}</div>
            <!-- <div class="centerText number-value-text" style="width: 75px;">{{getDiceValue (getActorSkillGroupValue ../actor vapen.system.grupp "strid")}}</div>
            <div class="centerText number-value-text" style="width: 45px;">{{#if (eq vapen.system.enhand.aktiv false)}}-{{else}}{{getDiceValue vapen.system.enhand}}{{/if}}</div>
            <div class="centerText number-value-text" style="width: 45px;">{{#if (eq vapen.system.tvahand.aktiv false)}}-{{else}}{{getDiceValue vapen.system.tvahand}}{{/if}}</div> -->
            <div class="centerText number-value-text" style="width: 50px;">{{#if (eq vapen.system.hugg.aktiv false)}}-{{else}}{{getDiceValue (addDiceValues vapen.system.hugg ../actor.system.harleddegenskaper.grundskada.totalt)}}{{/if}}</div>
            <div class="centerText number-value-text" style="width: 50px;">{{#if (eq vapen.system.kross.aktiv false)}}-{{else}}{{getDiceValue (addDiceValues vapen.system.kross ../actor.system.harleddegenskaper.grundskada.totalt)}}{{/if}}</div>
            <div class="centerText number-value-text" style="width: 50px;">{{#if (eq vapen.system.stick.aktiv false)}}-{{else}}{{getDiceValue (addDiceValues vapen.system.stick ../actor.system.harleddegenskaper.grundskada.totalt)}}{{/if}}</div>
            <!-- <div class="centerText number-value-text" style="width: 60px;">{{#if (eq vapen.system.langd 0)}}-{{else}}{{vapen.system.langd}}cm{{/if}}</div> -->
            <div class="centerText number-value-text" style="width: 50px;">{{#if (eq vapen.system.vikt 0)}}-{{else}}{{vapen.system.vikt}}kg{{/if}}</div>
            <div class="number-value-text" title="{{getPropertyList vapen.system.egenskaper}}">{{shorten (getPropertyList vapen.system.egenskaper) 50 false}}</div>
        </div>
    {{/each}}    
</div>