<nav class="sheet-tabs tab-area headlineTabs" data-group="primary">    
    <a class="tabButton" data-tab="skill">{{localize "eon.sheets.nav.skill"}}</a>
    <!-- <a class="tabButton" data-tab="combat">STRID</a>
    <a class="tabButton" data-tab="mystic">MYSTIK</a> -->
    <a class="tabButton tabboxleft" data-tab="weapon">{{localize "eon.sheets.nav.weapon"}}</a>
    <a class="tabButton tabboxleft" data-tab="armor">{{localize "eon.sheets.nav.armor"}}</a>
    {{#if EON.CONFIG.settings.bookMagic}}
        <a class="tabButton tabboxleft" data-tab="magic">{{localize "eon.sheets.nav.magic"}}</a>
    {{/if}}
    <a class="tabButton tabboxleft" data-tab="religion">{{localize "eon.sheets.nav.religion"}}</a>
    <a class="tabButton tabboxleft" data-tab="equipment">{{localize "eon.sheets.nav.equipment"}}</a>    
    <a class="tabButton tabboxleft" data-tab="bio">{{localize "eon.sheets.nav.bio"}}</a>
    <!-- <a class="tabButton tabboxleft tabIcon" data-tab="settings"><i class="icon fa-solid fa-gear"></i></a> -->
</nav>