<div class="item-row headline" style="line-height: 25px; width:100%; border-bottom-style: solid; border-bottom-width: 1px; border-top-style: solid; border-top-width: 1px;">
    <div class="weapon-icon">&nbsp;</div>
    <div>Skador</div>
</div>

<div class="item-box item-row">
    <div class="two-third-column item-row">
        <div class="item-row one-column">
            <div class="three-column">
                <div class="headline">Smärta</div>
                <div class="three-quarter-column">
                    <div class="item-row">
                        <div class="resource-box" title="Smärtnivå" data-value="" data-name="skada">
                            {{#numFromLoop 1 6}}
                                <span class="resource-box resource-box-center resource-value" data-index="{{this}}" data-value="smarta"></span>
                            {{/numFromLoop}}
                        </div>
                    </div>
                    <div class="information-area information-box">+3 Utmattning</div>
                </div>
            </div>

            <div class="three-column">
                <div class="headline">Blödning</div>   
                <div class="three-quarter-column">
                    <div class="item-row">
                        <div class="resource-box" data-value="{{data.system.skada.blodning}}" data-name="skada" title="Blödningstakt">
                            {{#numFromLoop 1 3}}
                                <span class="resource-box resource-box-center resource-value" data-index="{{this}}" data-value="blodning"></span>
                            {{/numFromLoop}}
                        </div>
                    </div>  
                    <div class="information-area information-box">+Blödningstakten i Utmattning</div>  
                </div>      
            </div>

            <div class="three-column">
                <div class="headline">Sår</div>
        
                <div class="information-area information-box">+3 Utmattning</div>
            </div>
        </div>
    </div>
</div>