<div class="remaining-width pullLeft">
    <div>
        <div class="headline">
            <div class="clear attribute-area">
                <div class="pullLeft large-main-headline">{{actor.name}}</div>
            </div>
        </div>

        <div class="two-column pullLeft">
            <div class="headline">
                <div class="attribute-area">Härledda attribut</div>
            </div>
            <div class="attribute clear">
                <div class="vrollable pullLeft caption" data-source="attribute" data-type="harleddegenskaper" data-key="forflyttning">{{EON.CONFIG.harleddegenskaper.forflyttning.namn}}</div>
                <div class="pullLeft number-value-text"><input class="attribute-value skill-label" type="text" value="{{getDiceValue data.system.harleddegenskaper.forflyttning}}" disabled readonly /></div>
                <div class="pullLeft skill-icon"><a class="item-edit" title="Editera {{EON.CONFIG.harleddegenskaper.forflyttning.namn}}" data-source="harleddegenskaper" data-type="forflyttning"><i class="icon fa-solid fa-pen-to-square"></i></a></div>
            </div>
            <div class="attribute clear">
                <div class="vrollable pullLeft caption" data-source="attribute" data-type="harleddegenskaper" data-key="intryck">{{EON.CONFIG.harleddegenskaper.intryck.namn}}</div>
                <div class="pullLeft number-value-text"><input class="attribute-value skill-label" type="text" value="{{getDiceValue data.system.harleddegenskaper.intryck}}" disabled readonly /></div>
                <div class="pullLeft skill-icon"><a class="item-edit" title="Editera {{EON.CONFIG.harleddegenskaper.intryck.namn}}" data-source="harleddegenskaper" data-type="intryck"><i class="icon fa-solid fa-pen-to-square"></i></a></div>
            </div>
            <div class="attribute clear">
                <div class="vrollable pullLeft caption" data-source="attribute" data-type="harleddegenskaper" data-key="kroppsbyggnad">{{EON.CONFIG.harleddegenskaper.kroppsbyggnad.namn}}</div>
                <div class="pullLeft number-value-text"><input class="attribute-value skill-label" type="text" value="{{getDiceValue data.system.harleddegenskaper.kroppsbyggnad}}" disabled readonly /></div>
                <div class="pullLeft skill-icon"><a class="item-edit" title="Editera {{EON.CONFIG.harleddegenskaper.kroppsbyggnad.namn}}" data-source="harleddegenskaper" data-type="kroppsbyggnad"><i class="icon fa-solid fa-pen-to-square"></i></a></div>
            </div>
            <div class="attribute clear">
                <div class="vrollable pullLeft caption" data-source="attribute" data-type="harleddegenskaper" data-key="reaktion">{{EON.CONFIG.harleddegenskaper.reaktion.namn}}</div>
                <div class="pullLeft number-value-text"><input class="attribute-value skill-label" type="text" value="{{getDiceValue data.system.harleddegenskaper.reaktion}}" disabled readonly /></div>
                <div class="pullLeft skill-icon"><a class="item-edit" title="Editera {{EON.CONFIG.harleddegenskaper.reaktion.namn}}" data-source="harleddegenskaper" data-type="reaktion"><i class="icon fa-solid fa-pen-to-square"></i></a></div>
            </div>
            <div class="attribute clear">
                <div class="vrollable pullLeft caption" data-source="attribute" data-type="harleddegenskaper" data-key="sjalvkontroll">{{EON.CONFIG.harleddegenskaper.sjalvkontroll.namn}}</div>
                <div class="pullLeft number-value-text"><input class="attribute-value skill-label" type="text" value="{{getDiceValue data.system.harleddegenskaper.sjalvkontroll}}" disabled readonly /></div>
                <div class="pullLeft skill-icon"><a class="item-edit" title="Editera {{EON.CONFIG.harleddegenskaper.sjalvkontroll.namn}}" data-source="harleddegenskaper" data-type="sjalvkontroll"><i class="icon fa-solid fa-pen-to-square"></i></a></div>
            </div>
            <div class="attribute clear">
                <div class="vrollable pullLeft caption" data-source="attribute" data-type="harleddegenskaper" data-key="vaksamhet">{{EON.CONFIG.harleddegenskaper.vaksamhet.namn}}</div>
                <div class="pullLeft number-value-text"><input class="attribute-value skill-label" type="text" value="{{getDiceValue data.system.harleddegenskaper.vaksamhet}}" disabled readonly /></div>
                <div class="pullLeft skill-icon"><a class="item-edit" title="Editera {{EON.CONFIG.harleddegenskaper.vaksamhet.namn}}" data-source="harleddegenskaper" data-type="vaksamhet"><i class="icon fa-solid fa-pen-to-square"></i></a></div>
            </div>
            <div class="attribute clear">
                <div class="vrollable pullLeft caption" data-source="attribute" data-type="harleddegenskaper" data-key="livskraft">{{EON.CONFIG.harleddegenskaper.livskraft.namn}}</div>
                <div class="pullLeft number-value-text"><input class="attribute-value skill-label" type="text" value="{{getDiceValue data.system.harleddegenskaper.livskraft}}" disabled readonly /></div>
                <div class="pullLeft skill-icon"><a class="item-edit" title="Editera {{EON.CONFIG.harleddegenskaper.livskraft.namn}}" data-source="harleddegenskaper" data-type="livskraft"><i class="icon fa-solid fa-pen-to-square"></i></a></div>
            </div>            
        </div>  

        <div class="three-column pullLeft">            
            <div class="headline">
                <div class="attribute-area">Utmattning</div>
            </div>
            <div class="clear">
                <div class="pullLeft number-value-text floating-label-group">
                    <input class="attribute-value skill-label" type="text" value="{{data.system.skada.utmattning.grund}}" disabled readonly />
                    <span class="floating-label">Grund</span>
                </div>
                <div class="pullLeft number-value-text floating-label-group">
                    <input class="attribute-value editable skill-label" name="system.skada.utmattning.varde" type="text" value="{{data.system.skada.utmattning.varde}}" data-dtype="Number" />
                    <span class="floating-label">Värde</span>
                </div>
            </div> 
        </div>
    </div>
</div>

<div class="image-column pullRight">
    <img class="profile-img pointer" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
    <div class="centerText">VARELSE</div>
    <!-- <div><i id="unlockSheet" class="lock-icon fa fa-unlock"></i></div> -->
    <div>
        <img class="pullLeft macroBtn pointer" src="{{EON.CONFIG.ikoner.slag_chock}}" data-source="attribute" data-type="harleddegenskaper" data-key="livskraft" data-title="Chockslag" title="Chockslag">
        <img class="pullLeft macroBtn pointer" src="{{EON.CONFIG.ikoner.slag_dod}}" data-source="attribute" data-type="harleddegenskaper" data-key="livskraft" data-title="Dödsslag" title="Dödsslag">
    </div>
</div>
<!-- 
<div>
    <img class="macroBtn pointer" src="{{EON.CONFIG.ikoner.slag_initiative}}" data-source="initiative" title="Initiativ">
</div> -->