<div class="item-box skill-area">
    <div>
        <div class="item-row headline" style="line-height: 25px; width:100%;">
            <div class="weapon-icon">
                <a class="item-create" title="Lägg till egenskap" data-type="egenskap">
                    <i class="fa-solid fa-square-plus green"></i>
                </a>
            </div>
            <div>Egenskaper</div>
        </div>
    </div>

    {{#each actor.system.listdata.egenskaper as | egenskap key|}}
        <div class="skill-row skill">
            <div class="normalskill" style="width: 90%;">{{egenskap.name}}</div> 
            <div class="pointer skill-icon">
                <a class="item-edit" title="Editera egenskap" data-source="egenskap" data-itemid="{{egenskap._id}}"><i class="icon fa-solid fa-pen-to-square"></i></a>
            </div>
        </div>
        {{#if (ne egenskap.system.beskrivning "")}}
            <div class="information-area information-box" style="margin-top: 0; max-width: 100%;">{{{egenskap.system.beskrivning}}}</div>
        {{/if}}
    {{/each}}
</div>


