@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* Imported Fonts */
@font-face {
    font-family: "stor-rubrik";
    src: url('../assets/fonts/PrinceValiant.ttf') format("truetype");
}

@font-face {
    font-family: "rubrik";
    src: url('../assets/fonts/vinque rg.otf') format("opentype");
}

@font-face {
    font-family: "eon-font";
    src: url('../assets/fonts/OFLGoudyStMTT.ttf') format("truetype");
}

@font-face {
    font-family: "eon-font-siffror";
    src: url('../assets/fonts/Sukhumala Regular.otf') format("opentype");
}

/* ROOT and variables */

:root {
    --main-font: "eon-font", Arial, Helvetica, sans-serif;
    --main-font-siffror: "eon-font-siffror", Arial, Helvetica, sans-serif;
    --main-rubrik: "rubrik", Arial, Helvetica, sans-serif;
    --main-stor-rubrik: "stor-rubrik", Arial, Helvetica, sans-serif;

    --image-width: 105px;

    --font-xsmall: 10px;
    --font-small: 12px;
    --font-large: 16px;
    --font-x-large: 24px;
    --font-tabsize: 14px;

    --line-height-default: 23px;
    --line-height-floattext: 30px;

    --sheet-background-color: url('../assets/img/graphics/background.jpg');
    --sheet-text-color: black;
    --main-full-color: rgba(121, 8, 19, 1);
    --back-color-inputs: white;
    --text-normal-color: black;

    --item-background-color: white;

    --select-empty-background-color: black;
    --select-empty-text-color: white;
    
    --color-good: rgb(2, 106, 2);
    --color-bad: rgb(151, 3, 3);
}

/* Sheet */

.rollperson:not(.minimized) {
    min-width: 800px;
    min-height: 1200px;
}

.itemsheet:not(.minimized) {
    min-width: 500px;
    min-height: 650px;
}

.general-dialog:not(.minimized) {
    min-width: 500px;
    min-height: 500px;
}

.rollperson .window-content {
    background: var(--sheet-background-color) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.itemsheet .window-content {
    background: var(--item-background-color) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sheet-item,
.sheet-character {
    font-family: var(--main-font);
}

span.resource-value,
input[type="text"],
input[type="number"],
select {
    background: var(--back-color-inputs);
    background-color: var(--back-color-inputs);
    color: var(--text-normal-color);    
}

input[type="text"]:disabled,
input[type="number"]:disabled {
    background: rgba(255, 255, 255, 0.4);
    cursor: not-allowed;
    border-top-style: none;
    border-left-style: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
}

select option {
    background: var(--back-color-inputs);
    color: var(--text-normal-color);
}

select option[value=""] {
    background: var(--select-empty-background-color);
    color: var(--select-empty-text-color);
}

.sheet-character {
    font-size: var(--font-small);
    font-weight: normal;
}

.sheet-top {
    width: 100%;
}

.sheet-character {
    width: 100%;
}

.sheet-header {
    width: 100%;
}

.sheet-body {
    width: 100%;
}

.sheet-box {
    width: 100%;
}

/* General */

img.item {
    max-width: 100px;
}

.smalltext {
    font-size: var(--font-xsmall);
}

.caption {
    width:40%;
    line-height: var(--line-height-default);
}

.headline {
    font-family: var(--main-rubrik);
    font-size: var(--font-large);    
    margin-bottom: 5px;    
    border-bottom: 1px solid black;
}

.large-headline {
    font-family: var(--main-rubrik);
    font-size: var(--font-x-large);   
}

.large-main-headline {
    font-family: var(--main-stor-rubrik); 
    font-size: var(--font-x-large);   
}

.number-value-text {
    font-family: var(--main-font-siffror);
}

.EON .pullLeft {
    float: left !important;
}

.EON .pullRight {
    float: right !important;
}

.EON .centerText {
    text-align: center !important;
}

.EON .hide {
    display: none !important;
  }
  
.EON .show {
    display: block !important;
}

.EON .clear {
    clear: both !important;
    overflow: hidden !important;
}

.two-third-column {
    width: 66%;
}

.two-column {
    width: 50%;
}

.three-column {
    width: 33%;
}

.four-column {
    width: 25%;
}

.five-column {
    width: 20%;
}

.attribute-value {
    line-height: var(--line-height-default);
}

.pointer:hover,
.pointer:focus {
  cursor: pointer;
}

.item-edit:hover,
.item-edit:focus,
.vrollable:hover,
.vrollable:focus {
    color: #000;  
    cursor: pointer;
    text-shadow: 0 0 10px var(--main-full-color);
}

.vrollable:hover,
.vrollable:focus {
    background: url('../assets/img/icons/perspective-dice-six-faces-six.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.green {
    color: var(--color-good);
}

.red {
    color: var(--color-bad);
}

.editable-box {
    /* color: #000;   */
    /* text-shadow: 0 0 10px var(--main-full-color); */
}

.dice-value {
    background-color: var(--back-color-inputs);
    font-family: var(--main-font-siffror);
    width: 50px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    border: 1px solid black;
    height: var(--line-height-default);
    line-height: var(--line-height-default);
}

.macroBtn {
    height: 45px;
    width: 45px;
    border: 0px;
    margin-right: 5px;
    padding-right: 0px;
}

/* Slå tärning */

.dialog-area {
    margin-left: 15px;
    margin-bottom: 20px;
}

button.two-button {
    width: 45%;
    max-width: 300px;
    height: 34px;
    margin-bottom: 5px;
}

button.three-button {
    width: 30%;
    max-width: 150px;
    height: 34px;
    margin-bottom: 5px;
}

button.active {
    background-color: var(--back-color-inputs);
}

/* Navigation */

.tab-area {
    display:flex;
}

.tabButton:hover,
.tabButton:focus,
.tabButton.active {
    background-color: var(--back-color-inputs);
}

.tabButton {
    width: 14%;
    min-width: 105px;
    text-align: center;
    line-height: 30px;
}

.tabIcon {
    width: 25px;
    min-width: 25px;
}

.tabboxleft {
    border-left-style: solid;
    border-left-width: 1px;
}

.headlineTabs {
    font-size: var(--font-tabsize);    
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    height: 30px;
}

/* Rutor / cirklar */

.locked .resource-circle {
    cursor: default;
}

.locked .resource-value {
    cursor: default;
}

.resource-circle {
  line-height: 30px;
}

.resource-circle .resource-value {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

.resource-box .resource-value {
    height: 16px;
    width: 16px;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
}

span.resource-box-center {
    margin-top: calc(var(--line-height-floattext) / 4);
}

.resource-value.active {
    background:
      linear-gradient(
        45deg,
        transparent 0%,
        transparent 43%,
        black 45%,
        black 55%,
        transparent 57%,
        transparent 100%
      ),
      linear-gradient(
        135deg,
        white 0%,
        white 43%,
        black 45%,
        black 55%,
        white 57%,
        white 100%
      );
}

/* TOPP */

.attribute {
    height: 25px;
    line-height: 25px;
}

.resource-box-text {
    width: 16px;
    margin: 1px;
    text-align: center;
}

.image-column {
    display: inline-block;
    width: var(--image-width);
}

.remaining-width {
    display: inline-block;
    width: calc(100% - var(--image-width));
}

.attribute-area {
    width: 98%;
}

.navigation {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.sheet-character .profile-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    min-height: 50px;
    max-height: 205px;
    height: auto;
    width: 100px;
    margin-right: 0;
}

input.editable {
    border-top-style: none;
    border-left-style: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    margin-left: 5px;
    margin-right: 5px;
    height: var(--line-height-default);
}

input.attribute-value {    
    width: 50px;
    text-align: center;    
}

input.text-value {
    width: 75%;
}

.avtrubbning-column {
    width: 80%
}

/* FÄRDIGHETER */

input.skill-value {
    border-top-style: none;
    border-left-style: none;
    width: 40px;
    text-align: center;
    height: var(--line-height-default);
    margin-left: 5px;
    margin-right: 5px;
}

.skill-area {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 700px;
} 

.skill {
    flex-grow: 1;
    max-height: 25px;
    line-height: 25px;
}

.skill-headline.headline {
    width: 65%;
}

.skill-short {
    margin-left: 5px;
    line-height: 25px;
    width: 30px;
}

.skill-icon {
    margin-left: 15px;
}

.normalskill {
    margin-left: 8px;
}

/* VAPEN */

.weapon-icon {
    width: 20px;
}

.active-icon {
    width: 30px;
}

/* ITEMS */

.item-headline {
    line-height: 28px;
    width: 150px;
    height: 30px;
}

.item-top {
    margin-bottom: 30px;
}

.item-bottom {
    margin-top: 30px;
}

.tic-container {    
    position: absolute;
    top: 240px;
    left: 110px;
    width: 230px;
    height: 45px;
}

.property-area {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 400px;
}

.img-block {
    width: 100px;
}

.item-area {
    margin-left: 10px;
    width: calc(95% - 100px);
}

.fardighetsvarde {
    font-size: 40px;
    position: absolute;
    left: 30px;
    top: -3px;
}

.weapon-value {
    width: 45px;
    line-height: 20px;
    background-color: var(--back-color-inputs);
    border-radius: 3px;
    border-bottom: 1px solid black;
    height: 20px;
    margin: 3px 5px;
    text-align: center;
}


.floating-label-group {
  position: relative;
  
}
.floating-label-group .floating-div-label {
  position: absolute;
  pointer-events: none;
  font-size: 7px;
  left: 5px;
  top: 2px;  
}
.floating-label-group .floating-label {
    position: absolute;
    pointer-events: none;
    font-size: 7px;
    top: 0px;
    left: 8px;
    transition: all 0.2s ease;
    opacity: 1;
}
.floating-label-group .floating-label.skill-label {
    top: -7px;
}
.floating-label-group input:focus ~ .floating-label,
.floating-label-group input:disabled ~ .floating-label,
.floating-label-group input:not(:focus):valid ~ .floating-label,
.floating-label-group select:focus ~ .floating-label,
.floating-label-group select:not(:focus):valid ~ .floating-label {  
  border-width: 0px;
  border: none;
  box-shadow: none;
  outline: none !important;
}
.floating-label-group input:focus,
.floating-label-group select:focus {
  outline: none !important;
}
.floating-label-group input,
.floating-label-group select {
  padding-left: 7px;
  height: var(--line-height-floattext);
  padding: 4px 0 0 0;
}
.floating-label-group input.skill-label {
    height: var(--line-height-default);
    padding: 8px 0 0 0;
}

@media all and (max-height : 1200px) {
    .rollperson:not(.minimized) {
        min-height: 400px;
    }

    .itemsheet.utrustning.vapen:not(.minimized),
    .itemsheet:not(.minimized) {
        min-height: 400px;
    }
}

@media all and (max-width : 1280px) {
    .rollperson:not(.minimized) {
        min-width: 400px;
    }

    .itemsheet.utrustning.vapen:not(.minimized),
    .itemsheet:not(.minimized) {
        min-width: 400px;
    }
}