:root {
    --image-width: 100px;
    --font-xsmall: 10px;
    --font-small: 12px;
    --font-large: 16px;
    --back-color-inputs: rgb(237, 235, 235);
}

input[type="text"],
textarea,
select {
    background-color: var(--back-color-inputs);
}

input[type="text"].attribute-value {
    border-top-style: none;
    border-left-style: none;
    width: 50px;
    text-align: center;
}

.sheet-character {
    font-size: var(--font-small);
}

.smalltext {
    font-size: var(--font-xsmall);
}

.pullLeft {
    float: left;
}

.pullRight {
    float: right;
}

.clear {
    clear: both;
    overflow: hidden;
}

.avtrubbning-column {
    width: 80%
}

.two-third-column {
    width: 66%;
}

.two-column {
    width: 50%;
}

.three-column {
    width: 33%;
}

.five-column {
    width: 20%;
}

.image-column {
    display: inline-block;
    width: var(--image-width);
}

.remaining-width {
    display: inline-block;
    width: calc(100% - var(--image-width));
}

.attribute-area {
    width: 98%;
    border-bottom: 1px solid black;
}

.attribute-value {
    line-height: 23px;
}

i.tic-down,
i.tic-top {
    scale: 1.3;
}

.tic-container {    
    display: flex; 
    flex-direction: column;
}

.tic {
    height: 5px;
}

.sheet-top {
    width: 100%;
}

.sheet-character {
    width: 100%;
}

.sheet-header {
    width: 100%;
}

.sheet-body {
    width: 100%;
}

.sheet-box {
    width: 100%;
}

.navigation {
    width: 100%;
}

.sheet-character .profile-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    min-height: 50px;
    max-height: 205px;
    height: auto;
    width: 100px;
    margin-right: 0;
  }

.pointer:hover,
.pointer:focus {
  cursor: pointer;
}

.caption {
    width:40%;
    line-height: 23px;
}

.headline {
    width: 100%;
    font-size: var(--font-large);    
    margin-bottom: 5px;
}

.locked .resource-circle {
    cursor: default;
}

.resource-circle .resource-value {
    height: 14px;
    width: 14px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--back-color-inputs);
}

.resource-box .resource-value {
    height: 16px;
    width: 16px;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    background-color: var(--back-color-inputs);
}

.resource-box .resource-value.active {
    background-color: black;
}

.resource-counter .resource-value[data-state="x"] {
    background:
        linear-gradient(
            45deg,
            transparent 0%,
            transparent 43%,
            black 45%,
            black 55%,
            transparent 57%,
            transparent 100%
        ),
        linear-gradient(
            135deg,
            transparent 0%,
            transparent 43%,
            black 45%,
            black 55%,
            transparent 57%,
            transparent 100%
        );
}

.resource-box-text {
    width: 16px;
    margin: 1px;
    text-align: center;
}

.headlineTabs {
    font-size: 20px;    
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    height: 30px;
}

.navigation {
    margin-top: 10px;
    margin-bottom: 10px;
}


