@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* Imported Fonts */
@font-face {
    font-family: "stor-rubrik";
    src: url('../assets/fonts/PrinceValiant.ttf') format("truetype");
}

@font-face {
    font-family: "rubrik";
    src: url('../assets/fonts/vinque rg.otf') format("opentype");
}

@font-face {
    font-family: "normal-text";
    src: url('../assets/fonts/Sukhumala Regular.otf') format("opentype");
}

/* ROOT and variables */
:root {
   
    --eon-main-font: "normal-text", Helvetica, sans-serif;
    --eon-main-font-norm: Verdana, Helvetica, sans-serif;
    --eon-main-headline-norm: Verdana, Helvetica, sans-serif;
    --eon-main-headline1: "rubrik", Helvetica, sans-serif;
    --eon-main-headline2: "stor-rubrik", Helvetica, sans-serif;

    --eon-image-width: 105px;

    --eon-box-headline-size: 6px;
    --eon-font-xsmall: 8px;
    --eon-font-small: 12px;
    --eon-font-large: 16px;
    --eon-font-large18: 18px;
    --eon-font-large20: 20px;
    --eon-font-x-large: 24px;
    --eon-font-tabsize: 14px;

    --eon-line-height-default: 23px;
    --eon-line-height-floattext: 25px;

    --eon-sheet-background-color: url('../assets/img/graphics/background.jpg');
    --eon-sheet-text-color: black;
    --eon-main-full-color: rgba(121, 8, 19, 1);
    --eon-back-color-inputs: white;
    --eon-back-readonly-color-inputs: rgb(242, 242, 242, 1);
    --eon-text-normal-color: black;
    --eon-border-color: black;

    --eon-item-background-color: url('../assets/img/graphics/background.jpg');

    --eon-select-empty-background-color: black;
    --eon-select-empty-text-color: white;
    
    --eon-color-good: rgb(2, 106, 2);
    --eon-color-bad: rgb(151, 3, 3);
}

/* Sheet */

.EON:not(.general-dialog) .window-content {
    padding: 0px;
}

.EON.rollperson:not(.minimized) {
    min-width: 850px;
    width: 850px;
    min-height: 1100px;
    height: 1100px;
}

.EON.varelse:not(.minimized) {
    min-width: 600px;
    width: 600px;
    min-height: 600px;
    height: 600px;
}

.EON.itemsheet:not(.minimized) {
    min-width: 500px;
    width: 500px;
    min-height: 600px;
    height: 600px;
}

.EON.itemsheet.vapen:not(.minimized) {
    min-width: 700px;
    max-width: 700px;
    width: 700px;
    min-height: 500px;
    height: 500px;
}

.EON.itemsheet.rustning:not(.minimized) {
    min-height: 700px;
    height: 700px;
    min-width: 550px;
    width: 550px;
}

.EON.itemsheet.besvarjelse:not(.minimized) {
    min-width: 600px;
    width: 600px;
}

.EON.general-dialog:not(.minimized) {
    min-width: 500px;
    min-height: 500px;
    height: 600px;
}

.EON.general-dialog.besvarjelse:not(.minimized) {
    min-height: 775px;
    height: 775px;
}

.EON.general-dialog.vapen:not(.minimized) {
    min-height: 700px;
    height: 700px;
}

.EON.rollperson .window-content,
.EON.varelse .window-content,
.EON.general-dialog .window-content {
    background: var(--eon-sheet-background-color) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.EON.itemsheet .window-content {
    background: var(--eon-item-background-color) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.EON.itemsheet .item-body,
.EON.general-dialog .item-body {
    width: 100%;
    padding-left: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
}

.EON.itemsheet.vapen .item-body,
.EON.itemsheet.besvarjelse .item-body,
.EON.itemsheet.vapen .item-body {
    padding-left: 0px;
    padding-right: 0px;
}

.EON .sheet-item,
.EON .sheet-character {    
    color: var(--eon-sheet-text-color);
}

.EON.normal-text {
    font-family: var(--eon-main-font-norm);
}

.EON.eon-text {
    font-family: var(--eon-main-font);
}

.EON span.resource-value,
.EON input[type="text"],
.EON input[type="number"],
.EON select {
    background: var(--eon-back-color-inputs);
    background-color: var(--eon-back-color-inputs);
    color: var(--eon-text-normal-color);    
    width: 98%;
    /* height: var(--eon-line-height-default);
    line-height: var(--eon-line-height-default); */
}

.EON input[type="text"]:disabled,
.EON input[type="number"]:disabled,
.EON div.disabled {
    background: var(--eon-back-readonly-color-inputs);
    cursor: not-allowed;
    border-top-style: none;
    border-left-style: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    margin-left: 2px;
    margin-right: 2px;
}

.EON select option {
    background: var(--eon-back-color-inputs);
    color: var(--eon-text-normal-color);
}

.EON select option[value=""] {
    background: var(--eon-select-empty-background-color);
    color: var(--eon-select-empty-text-color);
}

.EON .sheet-character,
.EON .sheet-item {
    font-size: var(--eon-font-small);
    font-weight: normal;
}

.EON .sheet-top,
.EON .item-top {
    width: 100%;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.EON .sheet-character,
.EON .sheet-item {
    width: 100%;
}

.EON .sheet-header {
    width: 100%;
}

.EON .sheet-body {
    width: 100%;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.EON .sheet-box {
    width: 100%;
}

/* General */

.EON .item-box {
    min-height: 75px; 
    margin-bottom: 25px;
}

.EON .item-row {
    display: flex; flex-wrap: wrap; flex-direction: row;
}

.EON .item-column {
    display: flex; flex-wrap: wrap; flex-direction: column;
}

.EON .info-box {
    padding: 5px;
}

.EON img.item {
    max-width: 100px;
}

.EON .smalltext {
    font-size: var(--eon-font-xsmall);
}

.EON .caption {
    width:45%;
    line-height: var(--eon-line-height-default);
}

.EON .avtrubbning-column .caption {
    width:50%;
}

.EON .headline {        
    font-weight: normal;
    margin-bottom: 5px;    
    /* border-bottom: 1px solid var(--eon-border-color); */
}

.EON.normal-headline .headline {
    font-family: var(--eon-main-headline-norm);
    font-size: var(--eon-font-large);    
}

.EON.eon1-headline .headline {
    font-family: var(--eon-main-headline1);
    font-size: var(--eon-font-large18);
}

.EON.eon2-headline .headline {
    font-family: var(--eon-main-headline2);
    font-size: var(--eon-font-large20);
}

.EON .headline-background {
    line-height: 25px; 
    width:100%; 
    border-bottom-style: solid; 
    border-bottom-width: 1px; 
    border-top-style: solid; 
    border-top-width: 1px; 
    /* background: rgba(156, 132, 109, 1); */
}

.EON .large-headline {
    font-size: var(--eon-font-x-large);   
    font-weight: normal;
}

.EON.normal-headline .large-headline {
    font-family: var(--eon-main-headline-norm);
}

.EON.eon1-headline .large-headline {
    font-family: var(--eon-main-headline1);
}

.EON.eon2-headline .large-headline {
    font-family: var(--eon-main-headline2);
}

.EON .large-main-headline {
    font-size: var(--eon-font-x-large);
    font-weight: normal;
}

.EON.normal-headline .large-main-headline {
    font-family: var(--eon-main-headline-norm);
}

.EON.eon1-headline .large-main-headline {
    font-family: var(--eon-main-headline1);
}

.EON.eon2-headline .large-main-headline {
    font-family: var(--eon-main-headline2);
}

.EON .tab .large-headline {
    margin: 5px;
}

.EON .number-value-text {
}

.EON .highlighted {
    font-style: italic;
    font-weight: bold;
}

.EON .pullLeft {
    float: left !important;
}

.EON .pullRight {
    float: right !important;
}

.EON .centerText {
    text-align: center !important;
}

.EON .hide {
    display: none !important;
  }
  
.EON .show {
    display: block !important;
}

.EON .clear {
    clear: both !important;
    overflow: hidden !important;
}

.EON .one-column {
    width: 100%;
}

.EON .three-quarter-column {
    width: 75%;
}

.EON .two-third-column {
    width: 66%;
}

.EON .two-column {
    width: 50%;
}

.EON .three-column {
    width: 33%;
}

.EON .four-column {
    width: 25%;
}

.EON .five-column {
    width: 20%;
}

.EON .attribute-value {
    line-height: var(--eon-line-height-default);
}

.EON .pointer:hover,
.EON .pointer:focus {
  cursor: pointer;
}

.EON .item-edit:hover,
.EON .item-edit:focus,
.EON .vrollable:hover,
.EON .vrollable:focus {
    color: #000;  
    cursor: pointer;
    text-shadow: 0 0 10px var(--eon-main-full-color);
}

.EON .vrollable:hover,
.EON .vrollable:focus {
    background: url('../assets/img/icons/perspective-dice-six-faces-six.svg');
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: 23px;
    background-position: right;
}

.EON .green {
    color: var(--eon-color-good);
}

.EON .red {
    color: var(--eon-color-bad);
}

.EON .dice-value {
    background-color: var(--eon-back-color-inputs);
    /* font-family: var(--eon-main-font); */
    width: 50px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    border: 1px solid var(--eon-border-color);
    height: var(--eon-line-height-default);
    line-height: var(--eon-line-height-default);
}

.EON .macroBtn {
    height: 45px;
    width: 45px;
    border: 0px;
    margin-right: 5px;
    padding-right: 0px;
}

.EON .information-area {
    font-size: 10px;
    color: #7e7e7e;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;    
}

.EON .information-box {
    background: #f3f3f3;
    border: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 3px;
    margin-top: 5px;
    max-width: 200px;
}

.EON.itemsheet .top-sidetext,
.EON.general-dialog .top-sidetext {
    color: #7e7e7e;
    font-weight: normal;
    font-size: 18px;
    text-transform: capitalize;
    writing-mode: vertical-rl;
}

.EON.itemsheet .information-area.top-sidetext,
.EON.general-dialog .information-area.top-sidetext {
    padding: 5px;
    padding-top: 15px;
}

.EON .headline-background i {
    font-size: 16px;
}

/* Slå tärning */

.EON .dialog-area {
    margin-left: 15px;
    margin-bottom: 20px;
}

.EON button.two-button {
    width: 45%;
    max-width: 300px;
    height: 34px;
    margin-bottom: 5px;
}

.EON button.three-button {
    width: 30%;
    max-width: 150px;
    height: 34px;
    margin-bottom: 5px;
}

.EON button.active {
    background-color: var(--eon-back-color-inputs);
}

/* Navigation */

.EON .tab-area {
    display:flex;
}

.EON .tabButton:hover,
.EON .tabButton:focus,
.EON .tabButton.active {
    background-color: var(--eon-back-color-inputs);
}

.EON .tabButton {
    width: 16%;
    min-width: 105px;
    text-align: center;
    line-height: var(--eon-line-height-floattext);
}

.EON.itemsheet .tabButton {
    width: 33%;
}

.EON .tabIcon {
    width: 25px;
    min-width: 25px;
}

.EON .tabboxleft {
    border-left-style: solid;
    border-left-width: 1px;
}

.EON .headlineTabs {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    height: 30px;
}

.EON.normal-headline .headlineTabs {
    font-family: var(--eon-main-headline-norm);
    font-size: var(--eon-font-tabsize);
}

.EON.eon1-headline .headlineTabs {
    font-family: var(--eon-main-headline1);
    font-size: var(--eon-font-large);
}

.EON.eon2-headline .headlineTabs {
    font-family: var(--eon-main-headline2);
    font-size: var(--eon-font-large18);
}

/* Rutor / cirklar */

.EON .locked .resource-circle {
    cursor: default;
}

.EON .locked .resource-value {
    cursor: default;
}

.EON .resource-circle {
    line-height: var(--eon-line-height-floattext);
}

.EON .resource-circle .resource-value {
  height: 14px;
  width: 14px;
  border: 1px solid var(--eon-border-color);
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

.EON .resource-box .resource-value {
    height: 16px;
    width: 16px;
    border: 1px solid var(--eon-border-color);
    display: inline-block;
    cursor: pointer;
}

.EON span.resource-box-center {
    margin-top: calc(var(--eon-line-height-floattext) / 7);
}

.EON .resource-value.active {
    background:
      linear-gradient(
        45deg,
        transparent 0%,
        transparent 43%,
        black 45%,
        black 55%,
        transparent 57%,
        transparent 100%
      ),
      linear-gradient(
        135deg,
        white 0%,
        white 43%,
        black 45%,
        black 55%,
        white 57%,
        white 100%
      );
}

/* TOPP */

.EON .attribute {
    height: 26px;
    line-height: 26px;
}

.resource-box-text {
    width: 16px;
    margin-right: 4px;
    text-align: center;
}

.image-column {
    display: inline-block;
    width: var(--eon-image-width);
}

.remaining-width {
    display: inline-block;
    width: calc(100% - var(--eon-image-width));
}

.EON .attribute-area {
    width: 98%;
}

.EON .navigation {
    
}

.EON .sheet-character .navigation {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.EON .sheet-character .profile-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    min-height: 50px;
    max-height: 205px;
    height: auto;
    width: 100px;
    margin-right: 0;
}

.EON input.editable,
.EON select.editable {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    margin-left: 2px;
    margin-right: 2px;
}

.EON input.attribute-value {   
    text-align: left;
    padding: 12px 5px;
    box-sizing: border-box; 
    width: 50px;
    height: var(--eon-line-height-default);
}

.EON input.exp-value {
    text-align: left;
    padding: 12px 5px;
    box-sizing: border-box; 
    height: var(--eon-line-height-default);
}

.EON.rollperson input.text-value {   
    text-align: left;
    padding: 12px 5px;
    box-sizing: border-box; 
}

.EON.itemsheet input.text-value {
    width: 75%;
}

.EON.rollperson select.text-value {   
    text-align: left;
    padding: 0px 0px;
    box-sizing: border-box; 
}

.EON.itemsheet select.text-value {   
    width: 75%;
    position: relative;
    left: 2px;
    padding-left: 0px;
}

.EON.itemsheet .dual-box {   
    width: 140px;
}

.EON.itemsheet .dual-box select.text-value,
.EON.itemsheet .dual-box input.text-value {   
    width: 100%;
}

.EON.itemsheet .dual-box-right {   
    margin-left: 12px;
}

.avtrubbning-column {
    width: 90%
}

/* FÄRDIGHETER */

input.skill-value {
    border-top-style: none;
    border-left-style: none;
    width: 40px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.EON .skill-area {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
} 

.EON .skill-row {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;    
}

.EON .skill,
.EON .bio {
    flex-grow: 1;
    max-height: 26px;
    line-height: 26px;
}

.EON .bio {
    margin-bottom: 3px;
}

.EON .skill-headline.headline {
    width: 71%;
}

.EON .skill-short {
    margin-left: 5px;
    line-height: 25px;
    width: 30px;
}

.EON .skill-icon {
    margin-left: 15px;
}

.EON .language-icon {
    margin-left: 55px;
}

.EON .normalskill {
    margin-left: 8px;
}

/* VAPEN */

.EON.itemsheet.vapen .navigation {
    display: none;
}

.EON.itemsheet.vapen .item-fullarea {
    display: block;
}

.EON .weapon-icon {
    width: 20px;
}

.EON .active-icon {
    width: 30px;
}

/* RUSTNINGAR */

.EON .armor-area {
    height: 200px;
}

/* ITEMS */

.EON.itemsheet .item-area {
    margin-left: 10px;
    width: calc(95% - 100px);
}

.EON.itemsheet .item-top {
    margin-bottom: 15px;
}

.EON.itemsheet .item-bottom {
    width: 100%;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.EON.itemsheet .item-section,
.EON.general-dialog .item-section {
    background: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.EON.itemsheet.vapen .item-section {
    width: 650px;
}

.EON.itemsheet .large-icon {
    font-size: 24px;
    margin-top: 5px;
    margin-right: 5px;
}

.EON.itemsheet .headline-checkbox {
    width: 125px;
    line-height: 26px;
}

.EON.itemsheet input.text-value {
    width: 75%;
    padding: 12px 5px;
    box-sizing: border-box;
}

.EON.itemsheet .textbox-headline {
    line-height: 28px;
    height: 30px;
}

.EON.itemsheet .item-headline {
    line-height: 28px;
    width: 150px;
    height: 30px;
}

.EON.itemsheet .item-property-area {
    height: 32px;
    width: 280px;
}

.tic-container {    
    position: absolute;
    top: 240px;
    left: 110px;
    width: 230px;
    height: 45px;
}

.EON.itemsheet .property-area {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 300px
}

.img-block {
    width: 100px;
}

.fardighetsvarde {
    font-size: 40px;
    position: absolute;
    left: 30px;
    top: -3px;
}

.weapon-value {
    width: 45px;
    line-height: 20px;
    background-color: var(--eon-back-color-inputs);
    border-radius: 3px;
    border-bottom: 1px solid var(--eon-border-color);
    height: 20px;
    margin: 3px 5px;
    text-align: center;
}

.floating-label-group {
  position: relative;
  
}
.floating-label-group .floating-div-label {
  position: absolute;
  pointer-events: none;
  font-size: var(--eon-box-headline-size);
  left: 5px;
  top: 2px;  
}
.floating-label-group .floating-label {
    position: absolute;
    pointer-events: none;
    font-family: var(--eon-main-headline-norm);
    font-size: var(--eon-box-headline-size);
    top: -1px;
    left: 5px;
    transition: all 0.2s ease;
    opacity: 1;
}
.floating-label-group .floating-label.skill-label {
    top: -9px;
}
.floating-label-group .floating-label.text-label {
    top: -7px;
}
.floating-label-group .floating-label.ritual-label {
    top: 0px;
}
.floating-label-group input:focus ~ .floating-label,
.floating-label-group input:disabled ~ .floating-label,
.floating-label-group input:not(:focus):valid ~ .floating-label,
.floating-label-group select:focus ~ .floating-label,
.floating-label-group select:not(:focus):valid ~ .floating-label {  
  border-width: 0px;
  border: none;
  box-shadow: none;
  outline: none !important;
}
.floating-label-group input:focus,
.floating-label-group select:focus {
  outline: none !important;
}
.floating-label-group input,
.floating-label-group select {
  padding-left: 7px;
  height: var(--eon-line-height-floattext);
  /*  padding: 4px 0 0 0;*/
}
.floating-label-group input.skill-label {
    height: var(--eon-line-height-default);
}

/* Dialogs */

.EON.general-dialog .window-content {
    color: var(--eon-sheet-text-color);
    font-size: var(--eon-font-small);
    font-weight: normal;
    background: var(--eon-item-background-color) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.EON.general-dialog .window-content {
    font-family: var(--eon-main-font-norm);
}

.EON.general-dialog .window-content {
    font-family: var(--eon-main-font);
}

.EON.general-dialog .dialog-section-small {
    min-height: 100px;
}

.EON.general-dialog .dialog-section {
    min-height: 150px;
}

.EON.general-dialog .dice-row {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.EON.general-dialog .two-column {
    width: 50%;
}

.EON.general-dialog .four-column {
    width: 22%;
}

.EON .improvication-icon {
    font-size: 16px;
    padding-left: 2px;
    padding-right: 2px;
}

@media all and (max-height : 1200px) {
    .EON.rollperson:not(.minimized),
    .EON.varelse:not(.minimized) {
        min-height: 400px;
        min-width: 810px;
        width: 810px;
        height: 800px;
    }

    .EON.itemsheet:not(.minimized) {
        min-height: 400px;
    }

    .EON.itemsheet.vapen:not(.minimized) {
        min-height: 500px;
        height: 500px;
    }
}

@media all and (max-height : 1080px) {
    .EON.rollperson:not(.minimized),
    .EON.varelse:not(.minimized) {
        min-height: 400px;
        min-width: 810px;
        width: 810px;
        height: 800px;
    }

    .EON.itemsheet:not(.minimized) {
        min-height: 400px;
    }

    .EON.itemsheet.vapen:not(.minimized) {
        min-height: 500px;
        height: 500px;
    }    
}

@media all and (max-width : 1280px) {
    .EON.rollperson:not(.minimized),
    .EON.varelse:not(.minimized) {
        min-width: 400px;
    }

    .EON.itemsheet:not(.minimized) {
        min-width: 500px;
    }

    .EON.itemsheet.vapen:not(.minimized) {
        min-width: 700px;
    }
}